utilities/hl7v2.xml-templates/v25/dtd/batch.dtd

<!--    v2.xml Message Definitions Version v25  - batch    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!-- .. batch message definition --><!ELEMENT BATCH (FHS?,MESSAGEBATCH+,FTS?)><!ELEMENT MESSAGEBATCH (BHS?,QRD?,QRF?,MESSAGES*,BTS?)><!ELEMENT MESSAGES (#PCDATA)>