utilities/hl7v2.xml-templates/v25/dtd/BPS_O29.dtd

<!--    v2.xml Message Definitions Version v25  - BPS_O29    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE BPS_O29--><!-- .. groups used in message BPS_O29 --><!ENTITY % BPS_O29.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT BPS_O29.TIMING %BPS_O29.TIMING.CONTENT;><!ENTITY % BPS_O29.ORDER.CONTENT "(ORC,BPS_O29.TIMING,BPO,NTE,BPS_O29.PRODUCT)"><!ELEMENT BPS_O29.ORDER %BPS_O29.ORDER.CONTENT;><!ENTITY % BPS_O29.PATIENT.CONTENT "(PID,PD1,NTE,BPS_O29.PATIENT_VISIT)"><!ELEMENT BPS_O29.PATIENT %BPS_O29.PATIENT.CONTENT;><!ENTITY % BPS_O29.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT BPS_O29.PATIENT_VISIT %BPS_O29.PATIENT_VISIT.CONTENT;><!ENTITY % BPS_O29.PRODUCT.CONTENT "(BPX,NTE)"><!ELEMENT BPS_O29.PRODUCT %BPS_O29.PRODUCT.CONTENT;><!-- .. message definition BPS_O29 --><!ENTITY % BPS_O29.CONTENT "(MSH,SFT*,NTE*,BPS_O29.PATIENT?,BPS_O29.ORDER+)"><!ELEMENT BPS_O29 %BPS_O29.CONTENT;>