utilities/hl7v2.xml-templates/v25/dtd/BTS_O31.dtd

<!--    v2.xml Message Definitions Version v25  - BTS_O31    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE BTS_O31--><!-- .. groups used in message BTS_O31 --><!ENTITY % BTS_O31.PRODUCT_STATUS.CONTENT "(BTX,NTE)"><!ELEMENT BTS_O31.PRODUCT_STATUS %BTS_O31.PRODUCT_STATUS.CONTENT;><!ENTITY % BTS_O31.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT BTS_O31.TIMING %BTS_O31.TIMING.CONTENT;><!ENTITY % BTS_O31.ORDER.CONTENT "(ORC,BTS_O31.TIMING,BPO,NTE,BTS_O31.PRODUCT_STATUS)"><!ELEMENT BTS_O31.ORDER %BTS_O31.ORDER.CONTENT;><!ENTITY % BTS_O31.PATIENT.CONTENT "(PID,PD1,NTE,BTS_O31.PATIENT_VISIT)"><!ELEMENT BTS_O31.PATIENT %BTS_O31.PATIENT.CONTENT;><!ENTITY % BTS_O31.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT BTS_O31.PATIENT_VISIT %BTS_O31.PATIENT_VISIT.CONTENT;><!-- .. message definition BTS_O31 --><!ENTITY % BTS_O31.CONTENT "(MSH,SFT*,NTE*,BTS_O31.PATIENT?,BTS_O31.ORDER+)"><!ELEMENT BTS_O31 %BTS_O31.CONTENT;>