utilities/hl7v2.xml-templates/v25/dtd/CSU_C09.dtd

<!--    v2.xml Message Definitions Version v25  - CSU_C09    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE CSU_C09--><!-- .. groups used in message CSU_C09 --><!ENTITY % CSU_C09.RX_ADMIN.CONTENT "(RXA,RXR)"><!ELEMENT CSU_C09.RX_ADMIN %CSU_C09.RX_ADMIN.CONTENT;><!ENTITY % CSU_C09.STUDY_PHARM.CONTENT "(ORC,CSU_C09.RX_ADMIN)"><!ELEMENT CSU_C09.STUDY_PHARM %CSU_C09.STUDY_PHARM.CONTENT;><!ENTITY % CSU_C09.VISIT.CONTENT "(PV1,PV2)"><!ELEMENT CSU_C09.VISIT %CSU_C09.VISIT.CONTENT;><!ENTITY % CSU_C09.PATIENT.CONTENT "(PID,PD1,NTE,CSU_C09.VISIT,CSR,CSU_C09.STUDY_PHASE)"><!ELEMENT CSU_C09.PATIENT %CSU_C09.PATIENT.CONTENT;><!ENTITY % CSU_C09.STUDY_OBSERVATION.CONTENT "(ORC,OBR,CSU_C09.TIMING_QTY,OBX)"><!ELEMENT CSU_C09.STUDY_OBSERVATION %CSU_C09.STUDY_OBSERVATION.CONTENT;><!ENTITY % CSU_C09.STUDY_PHASE.CONTENT "(CSP,CSU_C09.STUDY_SCHEDULE)"><!ELEMENT CSU_C09.STUDY_PHASE %CSU_C09.STUDY_PHASE.CONTENT;><!ENTITY % CSU_C09.TIMING_QTY.CONTENT "(TQ1,TQ2)"><!ELEMENT CSU_C09.TIMING_QTY %CSU_C09.TIMING_QTY.CONTENT;><!ENTITY % CSU_C09.STUDY_SCHEDULE.CONTENT "(CSS,CSU_C09.STUDY_OBSERVATION,CSU_C09.STUDY_PHARM)"><!ELEMENT CSU_C09.STUDY_SCHEDULE %CSU_C09.STUDY_SCHEDULE.CONTENT;><!-- .. message definition CSU_C09 --><!ENTITY % CSU_C09.CONTENT "(MSH,SFT*,CSU_C09.PATIENT+)"><!ELEMENT CSU_C09 %CSU_C09.CONTENT;>