utilities/hl7v2.xml-templates/v25/dtd/NMD_N02.dtd

<!--    v2.xml Message Definitions Version v25  - NMD_N02    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE NMD_N02--><!-- .. groups used in message NMD_N02 --><!ENTITY % NMD_N02.CLOCK_AND_STATS_WITH_NOTES.CONTENT "(NMD_N02.CLOCK,NMD_N02.APP_STATS,NMD_N02.APP_STATUS)"><!ELEMENT NMD_N02.CLOCK_AND_STATS_WITH_NOTES %NMD_N02.CLOCK_AND_STATS_WITH_NOTES.CONTENT;><!ENTITY % NMD_N02.APP_STATUS.CONTENT "(NSC,NTE)"><!ELEMENT NMD_N02.APP_STATUS %NMD_N02.APP_STATUS.CONTENT;><!ENTITY % NMD_N02.APP_STATS.CONTENT "(NST,NTE)"><!ELEMENT NMD_N02.APP_STATS %NMD_N02.APP_STATS.CONTENT;><!ENTITY % NMD_N02.CLOCK.CONTENT "(NCK,NTE)"><!ELEMENT NMD_N02.CLOCK %NMD_N02.CLOCK.CONTENT;><!-- .. message definition NMD_N02 --><!ENTITY % NMD_N02.CONTENT "(MSH,SFT*,NMD_N02.CLOCK_AND_STATS_WITH_NOTES)"><!ELEMENT NMD_N02 %NMD_N02.CONTENT;>