utilities/hl7v2.xml-templates/v25/dtd/OMB_O27.dtd

<!--    v2.xml Message Definitions Version v25  - OMB_O27    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE OMB_O27--><!-- .. groups used in message OMB_O27 --><!ENTITY % OMB_O27.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT OMB_O27.TIMING %OMB_O27.TIMING.CONTENT;><!ENTITY % OMB_O27.ORDER.CONTENT "(ORC,OMB_O27.TIMING,BPO,SPM,NTE,DG1,OMB_O27.OBSERVATION,FT1,BLG)"><!ELEMENT OMB_O27.ORDER %OMB_O27.ORDER.CONTENT;><!ENTITY % OMB_O27.PATIENT.CONTENT "(PID,PD1,NTE,OMB_O27.PATIENT_VISIT,OMB_O27.INSURANCE,GT1,AL1)"><!ELEMENT OMB_O27.PATIENT %OMB_O27.PATIENT.CONTENT;><!ENTITY % OMB_O27.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT OMB_O27.PATIENT_VISIT %OMB_O27.PATIENT_VISIT.CONTENT;><!ENTITY % OMB_O27.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT OMB_O27.OBSERVATION %OMB_O27.OBSERVATION.CONTENT;><!ENTITY % OMB_O27.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT OMB_O27.INSURANCE %OMB_O27.INSURANCE.CONTENT;><!-- .. message definition OMB_O27 --><!ENTITY % OMB_O27.CONTENT "(MSH,SFT*,NTE*,OMB_O27.PATIENT?,OMB_O27.ORDER+)"><!ELEMENT OMB_O27 %OMB_O27.CONTENT;>