utilities/hl7v2.xml-templates/v25/dtd/OMD_O03.dtd

<!--    v2.xml Message Definitions Version v25  - OMD_O03    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE OMD_O03--><!-- .. groups used in message OMD_O03 --><!ENTITY % OMD_O03.TIMING_DIET.CONTENT "(TQ1,TQ2)"><!ELEMENT OMD_O03.TIMING_DIET %OMD_O03.TIMING_DIET.CONTENT;><!ENTITY % OMD_O03.PATIENT.CONTENT "(PID,PD1,NTE,OMD_O03.PATIENT_VISIT,OMD_O03.INSURANCE,GT1,AL1)"><!ELEMENT OMD_O03.PATIENT %OMD_O03.PATIENT.CONTENT;><!ENTITY % OMD_O03.TIMING_TRAY.CONTENT "(TQ1,TQ2)"><!ELEMENT OMD_O03.TIMING_TRAY %OMD_O03.TIMING_TRAY.CONTENT;><!ENTITY % OMD_O03.DIET.CONTENT "(ODS,NTE,OMD_O03.OBSERVATION)"><!ELEMENT OMD_O03.DIET %OMD_O03.DIET.CONTENT;><!ENTITY % OMD_O03.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT OMD_O03.PATIENT_VISIT %OMD_O03.PATIENT_VISIT.CONTENT;><!ENTITY % OMD_O03.ORDER_DIET.CONTENT "(ORC,OMD_O03.TIMING_DIET,OMD_O03.DIET)"><!ELEMENT OMD_O03.ORDER_DIET %OMD_O03.ORDER_DIET.CONTENT;><!ENTITY % OMD_O03.ORDER_TRAY.CONTENT "(ORC,OMD_O03.TIMING_TRAY,ODT,NTE)"><!ELEMENT OMD_O03.ORDER_TRAY %OMD_O03.ORDER_TRAY.CONTENT;><!ENTITY % OMD_O03.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT OMD_O03.OBSERVATION %OMD_O03.OBSERVATION.CONTENT;><!ENTITY % OMD_O03.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT OMD_O03.INSURANCE %OMD_O03.INSURANCE.CONTENT;><!-- .. message definition OMD_O03 --><!ENTITY % OMD_O03.CONTENT "(MSH,SFT*,NTE*,OMD_O03.PATIENT?,OMD_O03.ORDER_DIET+,OMD_O03.ORDER_TRAY*)"><!ELEMENT OMD_O03 %OMD_O03.CONTENT;>