utilities/hl7v2.xml-templates/v25/dtd/OMI_O23.dtd

<!--    v2.xml Message Definitions Version v25  - OMI_O23    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE OMI_O23--><!-- .. groups used in message OMI_O23 --><!ENTITY % OMI_O23.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT OMI_O23.TIMING %OMI_O23.TIMING.CONTENT;><!ENTITY % OMI_O23.ORDER.CONTENT "(ORC,OMI_O23.TIMING,OBR,NTE,CTD,DG1,OMI_O23.OBSERVATION,IPC)"><!ELEMENT OMI_O23.ORDER %OMI_O23.ORDER.CONTENT;><!ENTITY % OMI_O23.PATIENT.CONTENT "(PID,PD1,NTE,OMI_O23.PATIENT_VISIT,OMI_O23.INSURANCE,GT1,AL1)"><!ELEMENT OMI_O23.PATIENT %OMI_O23.PATIENT.CONTENT;><!ENTITY % OMI_O23.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT OMI_O23.PATIENT_VISIT %OMI_O23.PATIENT_VISIT.CONTENT;><!ENTITY % OMI_O23.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT OMI_O23.OBSERVATION %OMI_O23.OBSERVATION.CONTENT;><!ENTITY % OMI_O23.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT OMI_O23.INSURANCE %OMI_O23.INSURANCE.CONTENT;><!-- .. message definition OMI_O23 --><!ENTITY % OMI_O23.CONTENT "(MSH,SFT*,NTE*,OMI_O23.PATIENT?,OMI_O23.ORDER+)"><!ELEMENT OMI_O23 %OMI_O23.CONTENT;>