utilities/hl7v2.xml-templates/v25/dtd/OMN_O07.dtd

<!--    v2.xml Message Definitions Version v25  - OMN_O07    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE OMN_O07--><!-- .. groups used in message OMN_O07 --><!ENTITY % OMN_O07.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT OMN_O07.TIMING %OMN_O07.TIMING.CONTENT;><!ENTITY % OMN_O07.ORDER.CONTENT "(ORC,OMN_O07.TIMING,RQD,RQ1,NTE,OMN_O07.OBSERVATION,BLG)"><!ELEMENT OMN_O07.ORDER %OMN_O07.ORDER.CONTENT;><!ENTITY % OMN_O07.PATIENT.CONTENT "(PID,PD1,NTE,OMN_O07.PATIENT_VISIT,OMN_O07.INSURANCE,GT1,AL1)"><!ELEMENT OMN_O07.PATIENT %OMN_O07.PATIENT.CONTENT;><!ENTITY % OMN_O07.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT OMN_O07.PATIENT_VISIT %OMN_O07.PATIENT_VISIT.CONTENT;><!ENTITY % OMN_O07.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT OMN_O07.OBSERVATION %OMN_O07.OBSERVATION.CONTENT;><!ENTITY % OMN_O07.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT OMN_O07.INSURANCE %OMN_O07.INSURANCE.CONTENT;><!-- .. message definition OMN_O07 --><!ENTITY % OMN_O07.CONTENT "(MSH,SFT*,NTE*,OMN_O07.PATIENT?,OMN_O07.ORDER+)"><!ELEMENT OMN_O07 %OMN_O07.CONTENT;>