utilities/hl7v2.xml-templates/v25/dtd/OMP_O09.dtd

<!--    v2.xml Message Definitions Version v25  - OMP_O09    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE OMP_O09--><!-- .. groups used in message OMP_O09 --><!ENTITY % OMP_O09.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT OMP_O09.TIMING %OMP_O09.TIMING.CONTENT;><!ENTITY % OMP_O09.ORDER.CONTENT "(ORC,OMP_O09.TIMING,RXO,NTE,RXR,OMP_O09.COMPONENT,OMP_O09.OBSERVATION,FT1,BLG)"><!ELEMENT OMP_O09.ORDER %OMP_O09.ORDER.CONTENT;><!ENTITY % OMP_O09.COMPONENT.CONTENT "(RXC,NTE)"><!ELEMENT OMP_O09.COMPONENT %OMP_O09.COMPONENT.CONTENT;><!ENTITY % OMP_O09.PATIENT.CONTENT "(PID,PD1,NTE,OMP_O09.PATIENT_VISIT,OMP_O09.INSURANCE,GT1,AL1)"><!ELEMENT OMP_O09.PATIENT %OMP_O09.PATIENT.CONTENT;><!ENTITY % OMP_O09.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT OMP_O09.PATIENT_VISIT %OMP_O09.PATIENT_VISIT.CONTENT;><!ENTITY % OMP_O09.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT OMP_O09.OBSERVATION %OMP_O09.OBSERVATION.CONTENT;><!ENTITY % OMP_O09.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT OMP_O09.INSURANCE %OMP_O09.INSURANCE.CONTENT;><!-- .. message definition OMP_O09 --><!ENTITY % OMP_O09.CONTENT "(MSH,SFT*,NTE*,OMP_O09.PATIENT?,OMP_O09.ORDER+)"><!ELEMENT OMP_O09 %OMP_O09.CONTENT;>