utilities/hl7v2.xml-templates/v25/dtd/OMS_O05.dtd

<!--    v2.xml Message Definitions Version v25  - OMS_O05    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE OMS_O05--><!-- .. groups used in message OMS_O05 --><!ENTITY % OMS_O05.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT OMS_O05.TIMING %OMS_O05.TIMING.CONTENT;><!ENTITY % OMS_O05.ORDER.CONTENT "(ORC,OMS_O05.TIMING,RQD,RQ1,NTE,OMS_O05.OBSERVATION,BLG)"><!ELEMENT OMS_O05.ORDER %OMS_O05.ORDER.CONTENT;><!ENTITY % OMS_O05.PATIENT.CONTENT "(PID,PD1,NTE,OMS_O05.PATIENT_VISIT,OMS_O05.INSURANCE,GT1,AL1)"><!ELEMENT OMS_O05.PATIENT %OMS_O05.PATIENT.CONTENT;><!ENTITY % OMS_O05.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT OMS_O05.PATIENT_VISIT %OMS_O05.PATIENT_VISIT.CONTENT;><!ENTITY % OMS_O05.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT OMS_O05.OBSERVATION %OMS_O05.OBSERVATION.CONTENT;><!ENTITY % OMS_O05.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT OMS_O05.INSURANCE %OMS_O05.INSURANCE.CONTENT;><!-- .. message definition OMS_O05 --><!ENTITY % OMS_O05.CONTENT "(MSH,SFT*,NTE*,OMS_O05.PATIENT?,OMS_O05.ORDER+)"><!ELEMENT OMS_O05 %OMS_O05.CONTENT;>