utilities/hl7v2.xml-templates/v25/dtd/ORD_O04.dtd

<!--    v2.xml Message Definitions Version v25  - ORD_O04    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE ORD_O04--><!-- .. groups used in message ORD_O04 --><!ENTITY % ORD_O04.RESPONSE.CONTENT "(ORD_O04.PATIENT,ORD_O04.ORDER_DIET,ORD_O04.ORDER_TRAY)"><!ELEMENT ORD_O04.RESPONSE %ORD_O04.RESPONSE.CONTENT;><!ENTITY % ORD_O04.TIMING_DIET.CONTENT "(TQ1,TQ2)"><!ELEMENT ORD_O04.TIMING_DIET %ORD_O04.TIMING_DIET.CONTENT;><!ENTITY % ORD_O04.PATIENT.CONTENT "(PID,NTE)"><!ELEMENT ORD_O04.PATIENT %ORD_O04.PATIENT.CONTENT;><!ENTITY % ORD_O04.TIMING_TRAY.CONTENT "(TQ1,TQ2)"><!ELEMENT ORD_O04.TIMING_TRAY %ORD_O04.TIMING_TRAY.CONTENT;><!ENTITY % ORD_O04.ORDER_DIET.CONTENT "(ORC,ORD_O04.TIMING_DIET,ODS,NTE)"><!ELEMENT ORD_O04.ORDER_DIET %ORD_O04.ORDER_DIET.CONTENT;><!ENTITY % ORD_O04.ORDER_TRAY.CONTENT "(ORC,ORD_O04.TIMING_TRAY,ODT,NTE)"><!ELEMENT ORD_O04.ORDER_TRAY %ORD_O04.ORDER_TRAY.CONTENT;><!-- .. message definition ORD_O04 --><!ENTITY % ORD_O04.CONTENT "(MSH,MSA,ERR*,SFT*,NTE*,ORD_O04.RESPONSE?)"><!ELEMENT ORD_O04 %ORD_O04.CONTENT;>