utilities/hl7v2.xml-templates/v25/dtd/ORF_R04.dtd

<!--    v2.xml Message Definitions Version v25  - ORF_R04    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE ORF_R04--><!-- .. groups used in message ORF_R04 --><!ENTITY % ORF_R04.ORDER.CONTENT "(ORC,OBR,NTE,ORF_R04.TIMING_QTY,CTD,ORF_R04.OBSERVATION,CTI)"><!ELEMENT ORF_R04.ORDER %ORF_R04.ORDER.CONTENT;><!ENTITY % ORF_R04.PATIENT.CONTENT "(PID,NTE)"><!ELEMENT ORF_R04.PATIENT %ORF_R04.PATIENT.CONTENT;><!ENTITY % ORF_R04.TIMING_QTY.CONTENT "(TQ1,TQ2)"><!ELEMENT ORF_R04.TIMING_QTY %ORF_R04.TIMING_QTY.CONTENT;><!ENTITY % ORF_R04.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT ORF_R04.OBSERVATION %ORF_R04.OBSERVATION.CONTENT;><!ENTITY % ORF_R04.QUERY_RESPONSE.CONTENT "(ORF_R04.PATIENT,ORF_R04.ORDER)"><!ELEMENT ORF_R04.QUERY_RESPONSE %ORF_R04.QUERY_RESPONSE.CONTENT;><!-- .. message definition ORF_R04 --><!ENTITY % ORF_R04.CONTENT "(MSH,SFT*,MSA,QRD,QRF?,ORF_R04.QUERY_RESPONSE+,ERR*,QAK?,DSC?)"><!ELEMENT ORF_R04 %ORF_R04.CONTENT;>