utilities/hl7v2.xml-templates/v25/dtd/ORG_O20.dtd

<!--    v2.xml Message Definitions Version v25  - ORG_O20    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE ORG_O20--><!-- .. groups used in message ORG_O20 --><!ENTITY % ORG_O20.ORDER.CONTENT "(ORC,ORG_O20.TIMING,OBR,NTE,CTI,ORG_O20.SPECIMEN)"><!ELEMENT ORG_O20.ORDER %ORG_O20.ORDER.CONTENT;><!ENTITY % ORG_O20.SPECIMEN.CONTENT "(SPM,SAC)"><!ELEMENT ORG_O20.SPECIMEN %ORG_O20.SPECIMEN.CONTENT;><!ENTITY % ORG_O20.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT ORG_O20.TIMING %ORG_O20.TIMING.CONTENT;><!ENTITY % ORG_O20.PATIENT.CONTENT "(PID,NTE)"><!ELEMENT ORG_O20.PATIENT %ORG_O20.PATIENT.CONTENT;><!ENTITY % ORG_O20.RESPONSE.CONTENT "(ORG_O20.PATIENT,ORG_O20.ORDER)"><!ELEMENT ORG_O20.RESPONSE %ORG_O20.RESPONSE.CONTENT;><!-- .. message definition ORG_O20 --><!ENTITY % ORG_O20.CONTENT "(MSH,MSA,ERR*,SFT*,NTE*,ORG_O20.RESPONSE)"><!ELEMENT ORG_O20 %ORG_O20.CONTENT;>