utilities/hl7v2.xml-templates/v25/dtd/ORL_O34.dtd

<!--    v2.xml Message Definitions Version v25  - ORL_O34    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE ORL_O34--><!-- .. groups used in message ORL_O34 --><!ENTITY % ORL_O34.ORDER.CONTENT "(ORC,ORL_O34.TIMING,ORL_O34.OBSERVATION_REQUEST)"><!ELEMENT ORL_O34.ORDER %ORL_O34.ORDER.CONTENT;><!ENTITY % ORL_O34.RESPONSE.CONTENT "(ORL_O34.PATIENT)"><!ELEMENT ORL_O34.RESPONSE %ORL_O34.RESPONSE.CONTENT;><!ENTITY % ORL_O34.SPECIMEN2.CONTENT "(SPM,SAC)"><!ELEMENT ORL_O34.SPECIMEN2 %ORL_O34.SPECIMEN2.CONTENT;><!ENTITY % ORL_O34.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT ORL_O34.TIMING %ORL_O34.TIMING.CONTENT;><!ENTITY % ORL_O34.SPECIMEN.CONTENT "(SPM,OBX,SAC,ORL_O34.ORDER)"><!ELEMENT ORL_O34.SPECIMEN %ORL_O34.SPECIMEN.CONTENT;><!ENTITY % ORL_O34.PATIENT.CONTENT "(PID,ORL_O34.SPECIMEN)"><!ELEMENT ORL_O34.PATIENT %ORL_O34.PATIENT.CONTENT;><!ENTITY % ORL_O34.OBSERVATION_REQUEST.CONTENT "(OBR,ORL_O34.SPECIMEN2)"><!ELEMENT ORL_O34.OBSERVATION_REQUEST %ORL_O34.OBSERVATION_REQUEST.CONTENT;><!-- .. message definition ORL_O34 --><!ENTITY % ORL_O34.CONTENT "(MSH,MSA,ERR*,SFT*,NTE*,ORL_O34.RESPONSE?)"><!ELEMENT ORL_O34 %ORL_O34.CONTENT;>