utilities/hl7v2.xml-templates/v25/dtd/ORL_O22.dtd

<!--    v2.xml Message Definitions Version v25  - ORL_O22    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE ORL_O22--><!-- .. groups used in message ORL_O22 --><!ENTITY % ORL_O22.ORDER.CONTENT "(ORC,ORL_O22.TIMING,ORL_O22.OBSERVATION_REQUEST)"><!ELEMENT ORL_O22.ORDER %ORL_O22.ORDER.CONTENT;><!ENTITY % ORL_O22.RESPONSE.CONTENT "(ORL_O22.PATIENT)"><!ELEMENT ORL_O22.RESPONSE %ORL_O22.RESPONSE.CONTENT;><!ENTITY % ORL_O22.SPECIMEN.CONTENT "(SPM,SAC)"><!ELEMENT ORL_O22.SPECIMEN %ORL_O22.SPECIMEN.CONTENT;><!ENTITY % ORL_O22.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT ORL_O22.TIMING %ORL_O22.TIMING.CONTENT;><!ENTITY % ORL_O22.PATIENT.CONTENT "(PID,ORL_O22.ORDER)"><!ELEMENT ORL_O22.PATIENT %ORL_O22.PATIENT.CONTENT;><!ENTITY % ORL_O22.OBSERVATION_REQUEST.CONTENT "(OBR,ORL_O22.SPECIMEN)"><!ELEMENT ORL_O22.OBSERVATION_REQUEST %ORL_O22.OBSERVATION_REQUEST.CONTENT;><!-- .. message definition ORL_O22 --><!ENTITY % ORL_O22.CONTENT "(MSH,MSA,ERR*,SFT*,NTE*,ORL_O22.RESPONSE?)"><!ELEMENT ORL_O22 %ORL_O22.CONTENT;>