utilities/hl7v2.xml-templates/v25/dtd/ORL_O36.dtd

<!--    v2.xml Message Definitions Version v25  - ORL_O36    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE ORL_O36--><!-- .. groups used in message ORL_O36 --><!ENTITY % ORL_O36.ORDER.CONTENT "(ORC,ORL_O36.TIMING,ORL_O36.OBSERVATION_REQUEST)"><!ELEMENT ORL_O36.ORDER %ORL_O36.ORDER.CONTENT;><!ENTITY % ORL_O36.RESPONSE.CONTENT "(ORL_O36.PATIENT)"><!ELEMENT ORL_O36.RESPONSE %ORL_O36.RESPONSE.CONTENT;><!ENTITY % ORL_O36.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT ORL_O36.TIMING %ORL_O36.TIMING.CONTENT;><!ENTITY % ORL_O36.SPECIMEN.CONTENT "(SPM,OBX,ORL_O36.SPECIMEN_CONTAINER)"><!ELEMENT ORL_O36.SPECIMEN %ORL_O36.SPECIMEN.CONTENT;><!ENTITY % ORL_O36.PATIENT.CONTENT "(PID,ORL_O36.SPECIMEN)"><!ELEMENT ORL_O36.PATIENT %ORL_O36.PATIENT.CONTENT;><!ENTITY % ORL_O36.OBSERVATION_REQUEST.CONTENT "(OBR)"><!ELEMENT ORL_O36.OBSERVATION_REQUEST %ORL_O36.OBSERVATION_REQUEST.CONTENT;><!ENTITY % ORL_O36.SPECIMEN_CONTAINER.CONTENT "(SAC,ORL_O36.ORDER)"><!ELEMENT ORL_O36.SPECIMEN_CONTAINER %ORL_O36.SPECIMEN_CONTAINER.CONTENT;><!-- .. message definition ORL_O36 --><!ENTITY % ORL_O36.CONTENT "(MSH,MSA,ERR*,SFT*,NTE*,ORL_O36.RESPONSE?)"><!ELEMENT ORL_O36 %ORL_O36.CONTENT;>