utilities/hl7v2.xml-templates/v25/dtd/ORM_O01.dtd

<!--    v2.xml Message Definitions Version v25  - ORM_O01    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE ORM_O01--><!-- .. groups used in message ORM_O01 --><!ENTITY % ORM_O01.ORDER.CONTENT "(ORC,ORM_O01.ORDER_DETAIL,FT1,CTI,BLG)"><!ELEMENT ORM_O01.ORDER %ORM_O01.ORDER.CONTENT;><!ENTITY % ORM_O01.PATIENT.CONTENT "(PID,PD1,NTE,ORM_O01.PATIENT_VISIT,ORM_O01.INSURANCE,GT1,AL1)"><!ELEMENT ORM_O01.PATIENT %ORM_O01.PATIENT.CONTENT;><!ENTITY % ORM_O01.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT ORM_O01.PATIENT_VISIT %ORM_O01.PATIENT_VISIT.CONTENT;><!ENTITY % ORM_O01.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT ORM_O01.OBSERVATION %ORM_O01.OBSERVATION.CONTENT;><!ENTITY % ORM_O01.ORDER_DETAIL.CONTENT "(ORM_O01.OBRRQDRQ1RXOODSODT_SUPPGRP,NTE,CTD,DG1,ORM_O01.OBSERVATION)"><!ELEMENT ORM_O01.ORDER_DETAIL %ORM_O01.ORDER_DETAIL.CONTENT;><!ENTITY % ORM_O01.OBRRQDRQ1RXOODSODT_SUPPGRP.CONTENT "(OBR,RQD,RQ1,RXO,ODS,ODT)"><!ELEMENT ORM_O01.OBRRQDRQ1RXOODSODT_SUPPGRP %ORM_O01.OBRRQDRQ1RXOODSODT_SUPPGRP.CONTENT;><!ENTITY % ORM_O01.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT ORM_O01.INSURANCE %ORM_O01.INSURANCE.CONTENT;><!-- .. message definition ORM_O01 --><!ENTITY % ORM_O01.CONTENT "(MSH,NTE*,ORM_O01.PATIENT?,ORM_O01.ORDER+)"><!ELEMENT ORM_O01 %ORM_O01.CONTENT;>