utilities/hl7v2.xml-templates/v25/dtd/ORP_O10.dtd

<!--    v2.xml Message Definitions Version v25  - ORP_O10    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE ORP_O10--><!-- .. groups used in message ORP_O10 --><!ENTITY % ORP_O10.ORDER.CONTENT "(ORC,ORP_O10.TIMING,ORP_O10.ORDER_DETAIL)"><!ELEMENT ORP_O10.ORDER %ORP_O10.ORDER.CONTENT;><!ENTITY % ORP_O10.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT ORP_O10.TIMING %ORP_O10.TIMING.CONTENT;><!ENTITY % ORP_O10.COMPONENT.CONTENT "(RXC,NTE)"><!ELEMENT ORP_O10.COMPONENT %ORP_O10.COMPONENT.CONTENT;><!ENTITY % ORP_O10.PATIENT.CONTENT "(PID,NTE)"><!ELEMENT ORP_O10.PATIENT %ORP_O10.PATIENT.CONTENT;><!ENTITY % ORP_O10.ORDER_DETAIL.CONTENT "(RXO,NTE,RXR,ORP_O10.COMPONENT)"><!ELEMENT ORP_O10.ORDER_DETAIL %ORP_O10.ORDER_DETAIL.CONTENT;><!ENTITY % ORP_O10.RESPONSE.CONTENT "(ORP_O10.PATIENT,ORP_O10.ORDER)"><!ELEMENT ORP_O10.RESPONSE %ORP_O10.RESPONSE.CONTENT;><!-- .. message definition ORP_O10 --><!ENTITY % ORP_O10.CONTENT "(MSH,MSA,ERR*,SFT*,NTE*,ORP_O10.RESPONSE)"><!ELEMENT ORP_O10 %ORP_O10.CONTENT;>