utilities/hl7v2.xml-templates/v25/dtd/ORR_O02.dtd

<!--    v2.xml Message Definitions Version v25  - ORR_O02    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE ORR_O02--><!-- .. groups used in message ORR_O02 --><!ENTITY % ORR_O02.ORDER.CONTENT "(ORC,ORR_O02.OBRRQDRQ1RXOODSODT_SUPPGRP,NTE,CTI)"><!ELEMENT ORR_O02.ORDER %ORR_O02.ORDER.CONTENT;><!ENTITY % ORR_O02.PATIENT.CONTENT "(PID,NTE)"><!ELEMENT ORR_O02.PATIENT %ORR_O02.PATIENT.CONTENT;><!ENTITY % ORR_O02.RESPONSE.CONTENT "(ORR_O02.PATIENT,ORR_O02.ORDER)"><!ELEMENT ORR_O02.RESPONSE %ORR_O02.RESPONSE.CONTENT;><!ENTITY % ORR_O02.OBRRQDRQ1RXOODSODT_SUPPGRP.CONTENT "(OBR,RQD,RQ1,RXO,ODS,ODT)"><!ELEMENT ORR_O02.OBRRQDRQ1RXOODSODT_SUPPGRP %ORR_O02.OBRRQDRQ1RXOODSODT_SUPPGRP.CONTENT;><!-- .. message definition ORR_O02 --><!ENTITY % ORR_O02.CONTENT "(MSH,MSA,ERR*,NTE*,ORR_O02.RESPONSE)"><!ELEMENT ORR_O02 %ORR_O02.CONTENT;>