utilities/hl7v2.xml-templates/v25/dtd/ORU_R01.dtd

<!--    v2.xml Message Definitions Version v25  - ORU_R01    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE ORU_R01--><!-- .. groups used in message ORU_R01 --><!ENTITY % ORU_R01.VISIT.CONTENT "(PV1,PV2)"><!ELEMENT ORU_R01.VISIT %ORU_R01.VISIT.CONTENT;><!ENTITY % ORU_R01.SPECIMEN.CONTENT "(SPM,OBX)"><!ELEMENT ORU_R01.SPECIMEN %ORU_R01.SPECIMEN.CONTENT;><!ENTITY % ORU_R01.PATIENT.CONTENT "(PID,PD1,NTE,NK1,ORU_R01.VISIT)"><!ELEMENT ORU_R01.PATIENT %ORU_R01.PATIENT.CONTENT;><!ENTITY % ORU_R01.TIMING_QTY.CONTENT "(TQ1,TQ2)"><!ELEMENT ORU_R01.TIMING_QTY %ORU_R01.TIMING_QTY.CONTENT;><!ENTITY % ORU_R01.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT ORU_R01.OBSERVATION %ORU_R01.OBSERVATION.CONTENT;><!ENTITY % ORU_R01.PATIENT_RESULT.CONTENT "(ORU_R01.PATIENT,ORU_R01.ORDER_OBSERVATION)"><!ELEMENT ORU_R01.PATIENT_RESULT %ORU_R01.PATIENT_RESULT.CONTENT;><!ENTITY % ORU_R01.ORDER_OBSERVATION.CONTENT "(ORC,OBR,NTE,ORU_R01.TIMING_QTY,CTD,ORU_R01.OBSERVATION,FT1,CTI,ORU_R01.SPECIMEN)"><!ELEMENT ORU_R01.ORDER_OBSERVATION %ORU_R01.ORDER_OBSERVATION.CONTENT;><!-- .. message definition ORU_R01 --><!ENTITY % ORU_R01.CONTENT "(MSH,SFT*,ORU_R01.PATIENT_RESULT+,DSC?)"><!ELEMENT ORU_R01 %ORU_R01.CONTENT;>