utilities/hl7v2.xml-templates/v25/dtd/OSR_Q06.dtd

<!--    v2.xml Message Definitions Version v25  - OSR_Q06    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE OSR_Q06--><!-- .. groups used in message OSR_Q06 --><!ENTITY % OSR_Q06.ORDER.CONTENT "(ORC,OSR_Q06.TIMING,OSR_Q06.OBRRQDRQ1RXOODSODT_SUPPGRP,NTE,CTI)"><!ELEMENT OSR_Q06.ORDER %OSR_Q06.ORDER.CONTENT;><!ENTITY % OSR_Q06.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT OSR_Q06.TIMING %OSR_Q06.TIMING.CONTENT;><!ENTITY % OSR_Q06.PATIENT.CONTENT "(PID,NTE)"><!ELEMENT OSR_Q06.PATIENT %OSR_Q06.PATIENT.CONTENT;><!ENTITY % OSR_Q06.RESPONSE.CONTENT "(OSR_Q06.PATIENT,OSR_Q06.ORDER)"><!ELEMENT OSR_Q06.RESPONSE %OSR_Q06.RESPONSE.CONTENT;><!ENTITY % OSR_Q06.OBRRQDRQ1RXOODSODT_SUPPGRP.CONTENT "(OBR,RQD,RQ1,RXO,ODS,ODT)"><!ELEMENT OSR_Q06.OBRRQDRQ1RXOODSODT_SUPPGRP %OSR_Q06.OBRRQDRQ1RXOODSODT_SUPPGRP.CONTENT;><!-- .. message definition OSR_Q06 --><!ENTITY % OSR_Q06.CONTENT "(MSH,MSA,ERR*,SFT*,NTE*,QRD,QRF?,OSR_Q06.RESPONSE,DSC?)"><!ELEMENT OSR_Q06 %OSR_Q06.CONTENT;>