utilities/hl7v2.xml-templates/v25/dtd/OUL_R23.dtd

<!--    v2.xml Message Definitions Version v25  - OUL_R23    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE OUL_R23--><!-- .. groups used in message OUL_R23 --><!ENTITY % OUL_R23.RESULT.CONTENT "(OBX,TCD,SID,NTE)"><!ELEMENT OUL_R23.RESULT %OUL_R23.RESULT.CONTENT;><!ENTITY % OUL_R23.CONTAINER.CONTENT "(SAC,INV,OUL_R23.ORDER)"><!ELEMENT OUL_R23.CONTAINER %OUL_R23.CONTAINER.CONTENT;><!ENTITY % OUL_R23.VISIT.CONTENT "(PV1,PV2)"><!ELEMENT OUL_R23.VISIT %OUL_R23.VISIT.CONTENT;><!ENTITY % OUL_R23.ORDER.CONTENT "(OBR,ORC,NTE,OUL_R23.TIMING_QTY,OUL_R23.RESULT,CTI)"><!ELEMENT OUL_R23.ORDER %OUL_R23.ORDER.CONTENT;><!ENTITY % OUL_R23.SPMOBXCONTAINERSACINVORDEROBRORCNTETIMING_QTYTQ1TQ2RESULTOBXTCDSIDNTECTI_SUPPGRP.CONTENT "(SPM,OBX,OUL_R23.CONTAINER)"><!ELEMENT OUL_R23.SPMOBXCONTAINERSACINVORDEROBRORCNTETIMING_QTYTQ1TQ2RESULTOBXTCDSIDNTECTI_SUPPGRP %OUL_R23.SPMOBXCONTAINERSACINVORDEROBRORCNTETIMING_QTYTQ1TQ2RESULTOBXTCDSIDNTECTI_SUPPGRP.CONTENT;><!ENTITY % OUL_R23.PATIENT.CONTENT "(PID,PD1,NTE)"><!ELEMENT OUL_R23.PATIENT %OUL_R23.PATIENT.CONTENT;><!ENTITY % OUL_R23.TIMING_QTY.CONTENT "(TQ1,TQ2)"><!ELEMENT OUL_R23.TIMING_QTY %OUL_R23.TIMING_QTY.CONTENT;><!-- .. message definition OUL_R23 --><!ENTITY % OUL_R23.CONTENT "(MSH,SFT*,NTE?,OUL_R23.PATIENT?,OUL_R23.VISIT?,OUL_R23.SPMOBXCONTAINERSACINVORDEROBRORCNTETIMING_QTYTQ1TQ2RESULTOBXTCDSIDNTECTI_SUPPGRP+,DSC?)"><!ELEMENT OUL_R23 %OUL_R23.CONTENT;>