utilities/hl7v2.xml-templates/v25/dtd/OUL_R24.dtd

<!--    v2.xml Message Definitions Version v25  - OUL_R24    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE OUL_R24--><!-- .. groups used in message OUL_R24 --><!ENTITY % OUL_R24.RESULT.CONTENT "(OBX,TCD,SID,NTE)"><!ELEMENT OUL_R24.RESULT %OUL_R24.RESULT.CONTENT;><!ENTITY % OUL_R24.VISIT.CONTENT "(PV1,PV2)"><!ELEMENT OUL_R24.VISIT %OUL_R24.VISIT.CONTENT;><!ENTITY % OUL_R24.SPECIMEN.CONTENT "(SPM,OBX,OUL_R24.CONTAINER)"><!ELEMENT OUL_R24.SPECIMEN %OUL_R24.SPECIMEN.CONTENT;><!ENTITY % OUL_R24.ORDER.CONTENT "(OBR,ORC,NTE,OUL_R24.TIMING_QTY,OUL_R24.SPECIMEN,OUL_R24.RESULT,CTI)"><!ELEMENT OUL_R24.ORDER %OUL_R24.ORDER.CONTENT;><!ENTITY % OUL_R24.PATIENT.CONTENT "(PID,PD1,NTE)"><!ELEMENT OUL_R24.PATIENT %OUL_R24.PATIENT.CONTENT;><!ENTITY % OUL_R24.TIMING_QTY.CONTENT "(TQ1,TQ2)"><!ELEMENT OUL_R24.TIMING_QTY %OUL_R24.TIMING_QTY.CONTENT;><!ENTITY % OUL_R24.CONTAINER.CONTENT "(SAC,INV)"><!ELEMENT OUL_R24.CONTAINER %OUL_R24.CONTAINER.CONTENT;><!-- .. message definition OUL_R24 --><!ENTITY % OUL_R24.CONTENT "(MSH,SFT*,NTE?,OUL_R24.PATIENT?,OUL_R24.VISIT?,OUL_R24.ORDER+,DSC?)"><!ELEMENT OUL_R24 %OUL_R24.CONTENT;>