utilities/hl7v2.xml-templates/v25/dtd/OUL_R21.dtd

<!--    v2.xml Message Definitions Version v25  - OUL_R21    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE OUL_R21--><!-- .. groups used in message OUL_R21 --><!ENTITY % OUL_R21.VISIT.CONTENT "(PV1,PV2)"><!ELEMENT OUL_R21.VISIT %OUL_R21.VISIT.CONTENT;><!ENTITY % OUL_R21.CONTAINER.CONTENT "(SAC,SID)"><!ELEMENT OUL_R21.CONTAINER %OUL_R21.CONTAINER.CONTENT;><!ENTITY % OUL_R21.PATIENT.CONTENT "(PID,PD1,NTE)"><!ELEMENT OUL_R21.PATIENT %OUL_R21.PATIENT.CONTENT;><!ENTITY % OUL_R21.TIMING_QTY.CONTENT "(TQ1,TQ2)"><!ELEMENT OUL_R21.TIMING_QTY %OUL_R21.TIMING_QTY.CONTENT;><!ENTITY % OUL_R21.OBSERVATION.CONTENT "(OBX,TCD,SID,NTE)"><!ELEMENT OUL_R21.OBSERVATION %OUL_R21.OBSERVATION.CONTENT;><!ENTITY % OUL_R21.ORDER_OBSERVATION.CONTENT "(OUL_R21.CONTAINER,ORC,OBR,NTE,OUL_R21.TIMING_QTY,OUL_R21.OBSERVATION,CTI)"><!ELEMENT OUL_R21.ORDER_OBSERVATION %OUL_R21.ORDER_OBSERVATION.CONTENT;><!-- .. message definition OUL_R21 --><!ENTITY % OUL_R21.CONTENT "(MSH,SFT*,NTE?,OUL_R21.PATIENT?,OUL_R21.VISIT?,OUL_R21.ORDER_OBSERVATION+,DSC?)"><!ELEMENT OUL_R21 %OUL_R21.CONTENT;>