utilities/hl7v2.xml-templates/v25/dtd/OUL_R22.dtd

<!--    v2.xml Message Definitions Version v25  - OUL_R22    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE OUL_R22--><!-- .. groups used in message OUL_R22 --><!ENTITY % OUL_R22.RESULT.CONTENT "(OBX,TCD,SID,NTE)"><!ELEMENT OUL_R22.RESULT %OUL_R22.RESULT.CONTENT;><!ENTITY % OUL_R22.VISIT.CONTENT "(PV1,PV2)"><!ELEMENT OUL_R22.VISIT %OUL_R22.VISIT.CONTENT;><!ENTITY % OUL_R22.ORDER.CONTENT "(OBR,ORC,NTE,OUL_R22.TIMING_QTY,OUL_R22.RESULT,CTI)"><!ELEMENT OUL_R22.ORDER %OUL_R22.ORDER.CONTENT;><!ENTITY % OUL_R22.SPECIMEN.CONTENT "(SPM,OBX,OUL_R22.CONTAINER,OUL_R22.ORDER)"><!ELEMENT OUL_R22.SPECIMEN %OUL_R22.SPECIMEN.CONTENT;><!ENTITY % OUL_R22.PATIENT.CONTENT "(PID,PD1,NTE)"><!ELEMENT OUL_R22.PATIENT %OUL_R22.PATIENT.CONTENT;><!ENTITY % OUL_R22.TIMING_QTY.CONTENT "(TQ1,TQ2)"><!ELEMENT OUL_R22.TIMING_QTY %OUL_R22.TIMING_QTY.CONTENT;><!ENTITY % OUL_R22.CONTAINER.CONTENT "(SAC,INV)"><!ELEMENT OUL_R22.CONTAINER %OUL_R22.CONTAINER.CONTENT;><!-- .. message definition OUL_R22 --><!ENTITY % OUL_R22.CONTENT "(MSH,SFT*,NTE?,OUL_R22.PATIENT?,OUL_R22.VISIT?,OUL_R22.SPECIMEN+,DSC?)"><!ELEMENT OUL_R22 %OUL_R22.CONTENT;>