utilities/hl7v2.xml-templates/v25/dtd/RAS_O17.dtd

<!--    v2.xml Message Definitions Version v25  - RAS_O17    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RAS_O17--><!-- .. groups used in message RAS_O17 --><!ENTITY % RAS_O17.ADMINISTRATION.CONTENT "(RXA,RXR,RAS_O17.OBSERVATION)"><!ELEMENT RAS_O17.ADMINISTRATION %RAS_O17.ADMINISTRATION.CONTENT;><!ENTITY % RAS_O17.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RAS_O17.TIMING %RAS_O17.TIMING.CONTENT;><!ENTITY % RAS_O17.ORDER.CONTENT "(ORC,RAS_O17.TIMING_ENCODED,RAS_O17.ORDER_DETAIL,RAS_O17.ENCODING,RAS_O17.ADMINISTRATION,CTI)"><!ELEMENT RAS_O17.ORDER %RAS_O17.ORDER.CONTENT;><!ENTITY % RAS_O17.TIMING_ENCODED.CONTENT "(TQ1,TQ2)"><!ELEMENT RAS_O17.TIMING_ENCODED %RAS_O17.TIMING_ENCODED.CONTENT;><!ENTITY % RAS_O17.PATIENT.CONTENT "(PID,PD1,NTE,AL1,RAS_O17.PATIENT_VISIT)"><!ELEMENT RAS_O17.PATIENT %RAS_O17.PATIENT.CONTENT;><!ENTITY % RAS_O17.COMPONENTS.CONTENT "(RXC,NTE)"><!ELEMENT RAS_O17.COMPONENTS %RAS_O17.COMPONENTS.CONTENT;><!ENTITY % RAS_O17.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT RAS_O17.PATIENT_VISIT %RAS_O17.PATIENT_VISIT.CONTENT;><!ENTITY % RAS_O17.ENCODING.CONTENT "(RXE,RAS_O17.TIMING_ENCODED,RXR,RXC)"><!ELEMENT RAS_O17.ENCODING %RAS_O17.ENCODING.CONTENT;><!ENTITY % RAS_O17.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT RAS_O17.OBSERVATION %RAS_O17.OBSERVATION.CONTENT;><!ENTITY % RAS_O17.ORDER_DETAIL.CONTENT "(RXO,RAS_O17.ORDER_DETAIL_SUPPLEMENT)"><!ELEMENT RAS_O17.ORDER_DETAIL %RAS_O17.ORDER_DETAIL.CONTENT;><!ENTITY % RAS_O17.ORDER_DETAIL_SUPPLEMENT.CONTENT "(NTE,RXR,RAS_O17.COMPONENTS)"><!ELEMENT RAS_O17.ORDER_DETAIL_SUPPLEMENT %RAS_O17.ORDER_DETAIL_SUPPLEMENT.CONTENT;><!-- .. message definition RAS_O17 --><!ENTITY % RAS_O17.CONTENT "(MSH,SFT*,NTE*,RAS_O17.PATIENT?,RAS_O17.ORDER+)"><!ELEMENT RAS_O17 %RAS_O17.CONTENT;>