utilities/hl7v2.xml-templates/v25/dtd/RDE_O11.dtd

<!--    v2.xml Message Definitions Version v25  - RDE_O11    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RDE_O11--><!-- .. groups used in message RDE_O11 --><!ENTITY % RDE_O11.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RDE_O11.TIMING %RDE_O11.TIMING.CONTENT;><!ENTITY % RDE_O11.ORDER.CONTENT "(ORC,RDE_O11.TIMING_ENCODED,RDE_O11.ORDER_DETAIL,RXE,NTE,RDE_O11.TIMING_ENCODED,RXR,RXC,RDE_O11.OBSERVATION,FT1,BLG,CTI)"><!ELEMENT RDE_O11.ORDER %RDE_O11.ORDER.CONTENT;><!ENTITY % RDE_O11.TIMING_ENCODED.CONTENT "(TQ1,TQ2)"><!ELEMENT RDE_O11.TIMING_ENCODED %RDE_O11.TIMING_ENCODED.CONTENT;><!ENTITY % RDE_O11.COMPONENT.CONTENT "(RXC,NTE)"><!ELEMENT RDE_O11.COMPONENT %RDE_O11.COMPONENT.CONTENT;><!ENTITY % RDE_O11.PATIENT.CONTENT "(PID,PD1,NTE,RDE_O11.PATIENT_VISIT,RDE_O11.INSURANCE,GT1,AL1)"><!ELEMENT RDE_O11.PATIENT %RDE_O11.PATIENT.CONTENT;><!ENTITY % RDE_O11.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT RDE_O11.PATIENT_VISIT %RDE_O11.PATIENT_VISIT.CONTENT;><!ENTITY % RDE_O11.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT RDE_O11.OBSERVATION %RDE_O11.OBSERVATION.CONTENT;><!ENTITY % RDE_O11.ORDER_DETAIL.CONTENT "(RXO,NTE,RXR,RDE_O11.COMPONENT)"><!ELEMENT RDE_O11.ORDER_DETAIL %RDE_O11.ORDER_DETAIL.CONTENT;><!ENTITY % RDE_O11.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT RDE_O11.INSURANCE %RDE_O11.INSURANCE.CONTENT;><!-- .. message definition RDE_O11 --><!ENTITY % RDE_O11.CONTENT "(MSH,SFT*,NTE*,RDE_O11.PATIENT?,RDE_O11.ORDER+)"><!ELEMENT RDE_O11 %RDE_O11.CONTENT;>