utilities/hl7v2.xml-templates/v25/dtd/RDR_RDR.dtd

<!--    v2.xml Message Definitions Version v25  - RDR_RDR    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RDR_RDR--><!-- .. groups used in message RDR_RDR --><!ENTITY % RDR_RDR.ORDER.CONTENT "(ORC,RDR_RDR.ENCODING,RDR_RDR.DISPENSE)"><!ELEMENT RDR_RDR.ORDER %RDR_RDR.ORDER.CONTENT;><!ENTITY % RDR_RDR.PATIENT.CONTENT "(PID,NTE)"><!ELEMENT RDR_RDR.PATIENT %RDR_RDR.PATIENT.CONTENT;><!ENTITY % RDR_RDR.ENCODING.CONTENT "(RXE,RXR,RXC)"><!ELEMENT RDR_RDR.ENCODING %RDR_RDR.ENCODING.CONTENT;><!ENTITY % RDR_RDR.DISPENSE.CONTENT "(RXD,RXR,RXC)"><!ELEMENT RDR_RDR.DISPENSE %RDR_RDR.DISPENSE.CONTENT;><!ENTITY % RDR_RDR.DEFINITION.CONTENT "(QRD,QRF,RDR_RDR.PATIENT,RDR_RDR.ORDER)"><!ELEMENT RDR_RDR.DEFINITION %RDR_RDR.DEFINITION.CONTENT;><!-- .. message definition RDR_RDR --><!ENTITY % RDR_RDR.CONTENT "(MSH,MSA,ERR*,SFT*,RDR_RDR.DEFINITION+,DSC?)"><!ELEMENT RDR_RDR %RDR_RDR.CONTENT;>