utilities/hl7v2.xml-templates/v25/dtd/RDS_O13.dtd

<!--    v2.xml Message Definitions Version v25  - RDS_O13    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RDS_O13--><!-- .. groups used in message RDS_O13 --><!ENTITY % RDS_O13.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RDS_O13.TIMING %RDS_O13.TIMING.CONTENT;><!ENTITY % RDS_O13.ORDER.CONTENT "(ORC,RDS_O13.TIMING_ENCODED,RDS_O13.ORDER_DETAIL,RDS_O13.ENCODING,RXD,NTE,RXR,RXC,RDS_O13.OBSERVATION,FT1)"><!ELEMENT RDS_O13.ORDER %RDS_O13.ORDER.CONTENT;><!ENTITY % RDS_O13.TIMING_ENCODED.CONTENT "(TQ1,TQ2)"><!ELEMENT RDS_O13.TIMING_ENCODED %RDS_O13.TIMING_ENCODED.CONTENT;><!ENTITY % RDS_O13.COMPONENT.CONTENT "(RXC,NTE)"><!ELEMENT RDS_O13.COMPONENT %RDS_O13.COMPONENT.CONTENT;><!ENTITY % RDS_O13.PATIENT.CONTENT "(PID,PD1,NTE,AL1,RDS_O13.PATIENT_VISIT)"><!ELEMENT RDS_O13.PATIENT %RDS_O13.PATIENT.CONTENT;><!ENTITY % RDS_O13.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT RDS_O13.PATIENT_VISIT %RDS_O13.PATIENT_VISIT.CONTENT;><!ENTITY % RDS_O13.ENCODING.CONTENT "(RXE,NTE,RDS_O13.TIMING_ENCODED,RXR,RXC)"><!ELEMENT RDS_O13.ENCODING %RDS_O13.ENCODING.CONTENT;><!ENTITY % RDS_O13.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT RDS_O13.OBSERVATION %RDS_O13.OBSERVATION.CONTENT;><!ENTITY % RDS_O13.ORDER_DETAIL.CONTENT "(RXO,RDS_O13.ORDER_DETAIL_SUPPLEMENT)"><!ELEMENT RDS_O13.ORDER_DETAIL %RDS_O13.ORDER_DETAIL.CONTENT;><!ENTITY % RDS_O13.ORDER_DETAIL_SUPPLEMENT.CONTENT "(NTE,RXR,RDS_O13.COMPONENT)"><!ELEMENT RDS_O13.ORDER_DETAIL_SUPPLEMENT %RDS_O13.ORDER_DETAIL_SUPPLEMENT.CONTENT;><!-- .. message definition RDS_O13 --><!ENTITY % RDS_O13.CONTENT "(MSH,SFT*,NTE*,RDS_O13.PATIENT?,RDS_O13.ORDER+)"><!ELEMENT RDS_O13 %RDS_O13.CONTENT;>