utilities/hl7v2.xml-templates/v25/dtd/REF_I12.dtd

<!--    v2.xml Message Definitions Version v25  - REF_I12    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE REF_I12--><!-- .. groups used in message REF_I12 --><!ENTITY % REF_I12.RESULTS_NOTES.CONTENT "(OBX,NTE)"><!ELEMENT REF_I12.RESULTS_NOTES %REF_I12.RESULTS_NOTES.CONTENT;><!ENTITY % REF_I12.AUTHORIZATION_CONTACT2.CONTENT "(AUT,CTD)"><!ELEMENT REF_I12.AUTHORIZATION_CONTACT2 %REF_I12.AUTHORIZATION_CONTACT2.CONTENT;><!ENTITY % REF_I12.PROCEDURE.CONTENT "(PR1,REF_I12.AUTHORIZATION_CONTACT)"><!ELEMENT REF_I12.PROCEDURE %REF_I12.PROCEDURE.CONTENT;><!ENTITY % REF_I12.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT REF_I12.PATIENT_VISIT %REF_I12.PATIENT_VISIT.CONTENT;><!ENTITY % REF_I12.OBSERVATION.CONTENT "(OBR,NTE,REF_I12.RESULTS_NOTES)"><!ELEMENT REF_I12.OBSERVATION %REF_I12.OBSERVATION.CONTENT;><!ENTITY % REF_I12.AUTHORIZATION_CONTACT.CONTENT "(AUT,CTD)"><!ELEMENT REF_I12.AUTHORIZATION_CONTACT %REF_I12.AUTHORIZATION_CONTACT.CONTENT;><!ENTITY % REF_I12.PROVIDER_CONTACT.CONTENT "(PRD,CTD)"><!ELEMENT REF_I12.PROVIDER_CONTACT %REF_I12.PROVIDER_CONTACT.CONTENT;><!ENTITY % REF_I12.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT REF_I12.INSURANCE %REF_I12.INSURANCE.CONTENT;><!-- .. message definition REF_I12 --><!ENTITY % REF_I12.CONTENT "(MSH,SFT*,RF1?,REF_I12.AUTHORIZATION_CONTACT?,REF_I12.PROVIDER_CONTACT+,PID,NK1*,GT1*,REF_I12.INSURANCE*,ACC?,DG1*,DRG*,AL1*,REF_I12.PROCEDURE*,REF_I12.OBSERVATION*,REF_I12.PATIENT_VISIT?,NTE*)"><!ELEMENT REF_I12 %REF_I12.CONTENT;>