utilities/hl7v2.xml-templates/v25/dtd/RPA_I08.dtd

<!--    v2.xml Message Definitions Version v25  - RPA_I08    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RPA_I08--><!-- .. groups used in message RPA_I08 --><!ENTITY % RPA_I08.VISIT.CONTENT "(PV1,PV2)"><!ELEMENT RPA_I08.VISIT %RPA_I08.VISIT.CONTENT;><!ENTITY % RPA_I08.AUTHORIZATION_1.CONTENT "(AUT,CTD)"><!ELEMENT RPA_I08.AUTHORIZATION_1 %RPA_I08.AUTHORIZATION_1.CONTENT;><!ENTITY % RPA_I08.PROVIDER.CONTENT "(PRD,CTD)"><!ELEMENT RPA_I08.PROVIDER %RPA_I08.PROVIDER.CONTENT;><!ENTITY % RPA_I08.AUTHORIZATION_2.CONTENT "(AUT,CTD)"><!ELEMENT RPA_I08.AUTHORIZATION_2 %RPA_I08.AUTHORIZATION_2.CONTENT;><!ENTITY % RPA_I08.PROCEDURE.CONTENT "(PR1,RPA_I08.AUTHORIZATION_2)"><!ELEMENT RPA_I08.PROCEDURE %RPA_I08.PROCEDURE.CONTENT;><!ENTITY % RPA_I08.OBSERVATION.CONTENT "(OBR,NTE,RPA_I08.RESULTS)"><!ELEMENT RPA_I08.OBSERVATION %RPA_I08.OBSERVATION.CONTENT;><!ENTITY % RPA_I08.RESULTS.CONTENT "(OBX,NTE)"><!ELEMENT RPA_I08.RESULTS %RPA_I08.RESULTS.CONTENT;><!ENTITY % RPA_I08.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT RPA_I08.INSURANCE %RPA_I08.INSURANCE.CONTENT;><!-- .. message definition RPA_I08 --><!ENTITY % RPA_I08.CONTENT "(MSH,SFT*,MSA,RF1?,RPA_I08.AUTHORIZATION_2?,RPA_I08.PROVIDER+,PID,NK1*,GT1*,RPA_I08.INSURANCE*,ACC?,DG1*,DRG*,AL1*,RPA_I08.PROCEDURE+,RPA_I08.OBSERVATION*,RPA_I08.VISIT?,NTE*)"><!ELEMENT RPA_I08 %RPA_I08.CONTENT;>