utilities/hl7v2.xml-templates/v25/dtd/RQA_I08.dtd

<!--    v2.xml Message Definitions Version v25  - RQA_I08    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RQA_I08--><!-- .. groups used in message RQA_I08 --><!ENTITY % RQA_I08.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT RQA_I08.INSURANCE %RQA_I08.INSURANCE.CONTENT;><!ENTITY % RQA_I08.AUTHORIZATION.CONTENT "(AUT,CTD)"><!ELEMENT RQA_I08.AUTHORIZATION %RQA_I08.AUTHORIZATION.CONTENT;><!ENTITY % RQA_I08.VISIT.CONTENT "(PV1,PV2)"><!ELEMENT RQA_I08.VISIT %RQA_I08.VISIT.CONTENT;><!ENTITY % RQA_I08.PROCEDURE.CONTENT "(PR1,RQA_I08.AUTHORIZATION2)"><!ELEMENT RQA_I08.PROCEDURE %RQA_I08.PROCEDURE.CONTENT;><!ENTITY % RQA_I08.PROVIDER.CONTENT "(PRD,CTD)"><!ELEMENT RQA_I08.PROVIDER %RQA_I08.PROVIDER.CONTENT;><!ENTITY % RQA_I08.OBSERVATION.CONTENT "(OBR,NTE,RQA_I08.RESULTS)"><!ELEMENT RQA_I08.OBSERVATION %RQA_I08.OBSERVATION.CONTENT;><!ENTITY % RQA_I08.GUARANTOR_INSURANCE.CONTENT "(GT1,RQA_I08.INSURANCE)"><!ELEMENT RQA_I08.GUARANTOR_INSURANCE %RQA_I08.GUARANTOR_INSURANCE.CONTENT;><!ENTITY % RQA_I08.AUTHORIZATION2.CONTENT "(AUT,CTD)"><!ELEMENT RQA_I08.AUTHORIZATION2 %RQA_I08.AUTHORIZATION2.CONTENT;><!ENTITY % RQA_I08.RESULTS.CONTENT "(OBX,NTE)"><!ELEMENT RQA_I08.RESULTS %RQA_I08.RESULTS.CONTENT;><!-- .. message definition RQA_I08 --><!ENTITY % RQA_I08.CONTENT "(MSH,SFT*,RF1?,RQA_I08.AUTHORIZATION2?,RQA_I08.PROVIDER+,PID,NK1*,RQA_I08.GUARANTOR_INSURANCE?,ACC?,DG1*,DRG*,AL1*,RQA_I08.PROCEDURE*,RQA_I08.OBSERVATION*,RQA_I08.VISIT?,NTE*)"><!ELEMENT RQA_I08 %RQA_I08.CONTENT;>