utilities/hl7v2.xml-templates/v25/dtd/RRA_O18.dtd

<!--    v2.xml Message Definitions Version v25  - RRA_O18    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RRA_O18--><!-- .. groups used in message RRA_O18 --><!ENTITY % RRA_O18.ORDER.CONTENT "(ORC,RRA_O18.TIMING,RRA_O18.ADMINISTRATION)"><!ELEMENT RRA_O18.ORDER %RRA_O18.ORDER.CONTENT;><!ENTITY % RRA_O18.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RRA_O18.TIMING %RRA_O18.TIMING.CONTENT;><!ENTITY % RRA_O18.ADMINISTRATION.CONTENT "(RXA,RXR)"><!ELEMENT RRA_O18.ADMINISTRATION %RRA_O18.ADMINISTRATION.CONTENT;><!ENTITY % RRA_O18.PATIENT.CONTENT "(PID,NTE)"><!ELEMENT RRA_O18.PATIENT %RRA_O18.PATIENT.CONTENT;><!ENTITY % RRA_O18.RESPONSE.CONTENT "(RRA_O18.PATIENT,RRA_O18.ORDER)"><!ELEMENT RRA_O18.RESPONSE %RRA_O18.RESPONSE.CONTENT;><!-- .. message definition RRA_O18 --><!ENTITY % RRA_O18.CONTENT "(MSH,MSA,ERR*,SFT*,NTE*,RRA_O18.RESPONSE)"><!ELEMENT RRA_O18 %RRA_O18.CONTENT;>