utilities/hl7v2.xml-templates/v25/dtd/RRD_O14.dtd

<!--    v2.xml Message Definitions Version v25  - RRD_O14    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RRD_O14--><!-- .. groups used in message RRD_O14 --><!ENTITY % RRD_O14.DISPENSE.CONTENT "(RXD,NTE,RXR,RXC)"><!ELEMENT RRD_O14.DISPENSE %RRD_O14.DISPENSE.CONTENT;><!ENTITY % RRD_O14.ORDER.CONTENT "(ORC,RRD_O14.TIMING,RRD_O14.DISPENSE)"><!ELEMENT RRD_O14.ORDER %RRD_O14.ORDER.CONTENT;><!ENTITY % RRD_O14.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RRD_O14.TIMING %RRD_O14.TIMING.CONTENT;><!ENTITY % RRD_O14.PATIENT.CONTENT "(PID,NTE)"><!ELEMENT RRD_O14.PATIENT %RRD_O14.PATIENT.CONTENT;><!ENTITY % RRD_O14.RESPONSE.CONTENT "(RRD_O14.PATIENT,RRD_O14.ORDER)"><!ELEMENT RRD_O14.RESPONSE %RRD_O14.RESPONSE.CONTENT;><!-- .. message definition RRD_O14 --><!ENTITY % RRD_O14.CONTENT "(MSH,MSA,ERR*,SFT*,NTE*,RRD_O14.RESPONSE)"><!ELEMENT RRD_O14 %RRD_O14.CONTENT;>