utilities/hl7v2.xml-templates/v25/dtd/RRE_O12.dtd

<!--    v2.xml Message Definitions Version v25  - RRE_O12    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RRE_O12--><!-- .. groups used in message RRE_O12 --><!ENTITY % RRE_O12.ORDER.CONTENT "(ORC,RRE_O12.TIMING_ENCODED,RRE_O12.ENCODING)"><!ELEMENT RRE_O12.ORDER %RRE_O12.ORDER.CONTENT;><!ENTITY % RRE_O12.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RRE_O12.TIMING %RRE_O12.TIMING.CONTENT;><!ENTITY % RRE_O12.TIMING_ENCODED.CONTENT "(TQ1,TQ2)"><!ELEMENT RRE_O12.TIMING_ENCODED %RRE_O12.TIMING_ENCODED.CONTENT;><!ENTITY % RRE_O12.PATIENT.CONTENT "(PID,NTE)"><!ELEMENT RRE_O12.PATIENT %RRE_O12.PATIENT.CONTENT;><!ENTITY % RRE_O12.ENCODING.CONTENT "(RXE,NTE,RRE_O12.TIMING_ENCODED,RXR,RXC)"><!ELEMENT RRE_O12.ENCODING %RRE_O12.ENCODING.CONTENT;><!ENTITY % RRE_O12.RESPONSE.CONTENT "(RRE_O12.PATIENT,RRE_O12.ORDER)"><!ELEMENT RRE_O12.RESPONSE %RRE_O12.RESPONSE.CONTENT;><!-- .. message definition RRE_O12 --><!ENTITY % RRE_O12.CONTENT "(MSH,MSA,ERR*,SFT*,NTE*,RRE_O12.RESPONSE)"><!ELEMENT RRE_O12 %RRE_O12.CONTENT;>