utilities/hl7v2.xml-templates/v25/dtd/RRG_O16.dtd

<!--    v2.xml Message Definitions Version v25  - RRG_O16    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RRG_O16--><!-- .. groups used in message RRG_O16 --><!ENTITY % RRG_O16.ORDER.CONTENT "(ORC,RRG_O16.TIMING_GIVE,RRG_O16.GIVE)"><!ELEMENT RRG_O16.ORDER %RRG_O16.ORDER.CONTENT;><!ENTITY % RRG_O16.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RRG_O16.TIMING %RRG_O16.TIMING.CONTENT;><!ENTITY % RRG_O16.PATIENT.CONTENT "(PID,NTE)"><!ELEMENT RRG_O16.PATIENT %RRG_O16.PATIENT.CONTENT;><!ENTITY % RRG_O16.TIMING_GIVE.CONTENT "(TQ1,TQ2)"><!ELEMENT RRG_O16.TIMING_GIVE %RRG_O16.TIMING_GIVE.CONTENT;><!ENTITY % RRG_O16.GIVE.CONTENT "(RXG,RRG_O16.TIMING_GIVE,RXR,RXC)"><!ELEMENT RRG_O16.GIVE %RRG_O16.GIVE.CONTENT;><!ENTITY % RRG_O16.RESPONSE.CONTENT "(RRG_O16.PATIENT,RRG_O16.ORDER)"><!ELEMENT RRG_O16.RESPONSE %RRG_O16.RESPONSE.CONTENT;><!-- .. message definition RRG_O16 --><!ENTITY % RRG_O16.CONTENT "(MSH,MSA,ERR*,SFT*,NTE*,RRG_O16.RESPONSE)"><!ELEMENT RRG_O16 %RRG_O16.CONTENT;>