utilities/hl7v2.xml-templates/v25/dtd/RRI_I12.dtd

<!--    v2.xml Message Definitions Version v25  - RRI_I12    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RRI_I12--><!-- .. groups used in message RRI_I12 --><!ENTITY % RRI_I12.RESULTS_NOTES.CONTENT "(OBX,NTE)"><!ELEMENT RRI_I12.RESULTS_NOTES %RRI_I12.RESULTS_NOTES.CONTENT;><!ENTITY % RRI_I12.AUTHORIZATION_CONTACT2.CONTENT "(AUT,CTD)"><!ELEMENT RRI_I12.AUTHORIZATION_CONTACT2 %RRI_I12.AUTHORIZATION_CONTACT2.CONTENT;><!ENTITY % RRI_I12.PROCEDURE.CONTENT "(PR1,RRI_I12.AUTHORIZATION_CONTACT)"><!ELEMENT RRI_I12.PROCEDURE %RRI_I12.PROCEDURE.CONTENT;><!ENTITY % RRI_I12.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT RRI_I12.PATIENT_VISIT %RRI_I12.PATIENT_VISIT.CONTENT;><!ENTITY % RRI_I12.OBSERVATION.CONTENT "(OBR,NTE,RRI_I12.RESULTS_NOTES)"><!ELEMENT RRI_I12.OBSERVATION %RRI_I12.OBSERVATION.CONTENT;><!ENTITY % RRI_I12.AUTHORIZATION_CONTACT.CONTENT "(AUT,CTD)"><!ELEMENT RRI_I12.AUTHORIZATION_CONTACT %RRI_I12.AUTHORIZATION_CONTACT.CONTENT;><!ENTITY % RRI_I12.PROVIDER_CONTACT.CONTENT "(PRD,CTD)"><!ELEMENT RRI_I12.PROVIDER_CONTACT %RRI_I12.PROVIDER_CONTACT.CONTENT;><!-- .. message definition RRI_I12 --><!ENTITY % RRI_I12.CONTENT "(MSH,SFT*,MSA?,RF1?,RRI_I12.AUTHORIZATION_CONTACT?,RRI_I12.PROVIDER_CONTACT+,PID,ACC?,DG1*,DRG*,AL1*,RRI_I12.PROCEDURE*,RRI_I12.OBSERVATION*,RRI_I12.PATIENT_VISIT?,NTE*)"><!ELEMENT RRI_I12 %RRI_I12.CONTENT;>