utilities/hl7v2.xml-templates/v25/dtd/RSP_K31.dtd

<!--    v2.xml Message Definitions Version v25  - RSP_K31    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RSP_K31--><!-- .. groups used in message RSP_K31 --><!ENTITY % RSP_K31.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RSP_K31.TIMING %RSP_K31.TIMING.CONTENT;><!ENTITY % RSP_K31.ORDER.CONTENT "(ORC,RSP_K31.TIMING_ENCODED,RSP_K31.ORDER_DETAIL,RSP_K31.ENCODING,RXD,RXR,RXC,RSP_K31.OBSERVATION)"><!ELEMENT RSP_K31.ORDER %RSP_K31.ORDER.CONTENT;><!ENTITY % RSP_K31.TIMING_ENCODED.CONTENT "(TQ1,TQ2)"><!ELEMENT RSP_K31.TIMING_ENCODED %RSP_K31.TIMING_ENCODED.CONTENT;><!ENTITY % RSP_K31.PATIENT.CONTENT "(PID,PD1,NTE,AL1,RSP_K31.PATIENT_VISIT)"><!ELEMENT RSP_K31.PATIENT %RSP_K31.PATIENT.CONTENT;><!ENTITY % RSP_K31.COMPONENTS.CONTENT "(RXC,NTE)"><!ELEMENT RSP_K31.COMPONENTS %RSP_K31.COMPONENTS.CONTENT;><!ENTITY % RSP_K31.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT RSP_K31.PATIENT_VISIT %RSP_K31.PATIENT_VISIT.CONTENT;><!ENTITY % RSP_K31.ENCODING.CONTENT "(RXE,RSP_K31.TIMING_ENCODED,RXR,RXC)"><!ELEMENT RSP_K31.ENCODING %RSP_K31.ENCODING.CONTENT;><!ENTITY % RSP_K31.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT RSP_K31.OBSERVATION %RSP_K31.OBSERVATION.CONTENT;><!ENTITY % RSP_K31.ORDER_DETAIL.CONTENT "(RXO,NTE,RXR,RSP_K31.COMPONENTS)"><!ELEMENT RSP_K31.ORDER_DETAIL %RSP_K31.ORDER_DETAIL.CONTENT;><!ENTITY % RSP_K31.RESPONSE.CONTENT "(RSP_K31.PATIENT,RSP_K31.ORDER)"><!ELEMENT RSP_K31.RESPONSE %RSP_K31.RESPONSE.CONTENT;><!-- .. message definition RSP_K31 --><!ENTITY % RSP_K31.CONTENT "(MSH,MSA,ERR*,SFT*,QAK,QPD,RCP,RSP_K31.RESPONSE+,DSC?)"><!ELEMENT RSP_K31 %RSP_K31.CONTENT;>