utilities/hl7v2.xml-templates/v25/dtd/RSP_Z88.dtd

<!--    v2.xml Message Definitions Version v25  - RSP_Z88    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RSP_Z88--><!-- .. groups used in message RSP_Z88 --><!ENTITY % RSP_Z88.COMMON_ORDER.CONTENT "(ORC,RSP_Z88.TIMING,RSP_Z88.ORDER_DETAIL,RSP_Z88.ORDER_ENCODED,RXD,RXR,RXC,RSP_Z88.OBSERVATION)"><!ELEMENT RSP_Z88.COMMON_ORDER %RSP_Z88.COMMON_ORDER.CONTENT;><!ENTITY % RSP_Z88.VISIT.CONTENT "(PV1,PV2)"><!ELEMENT RSP_Z88.VISIT %RSP_Z88.VISIT.CONTENT;><!ENTITY % RSP_Z88.TIMING_ENCODED.CONTENT "(TQ1,TQ2)"><!ELEMENT RSP_Z88.TIMING_ENCODED %RSP_Z88.TIMING_ENCODED.CONTENT;><!ENTITY % RSP_Z88.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RSP_Z88.TIMING %RSP_Z88.TIMING.CONTENT;><!ENTITY % RSP_Z88.PATIENT.CONTENT "(PID,PD1,NTE,RSP_Z88.ALLERGY)"><!ELEMENT RSP_Z88.PATIENT %RSP_Z88.PATIENT.CONTENT;><!ENTITY % RSP_Z88.ORDER_ENCODED.CONTENT "(RXE,RSP_Z88.TIMING,RXR,RXC)"><!ELEMENT RSP_Z88.ORDER_ENCODED %RSP_Z88.ORDER_ENCODED.CONTENT;><!ENTITY % RSP_Z88.COMPONENT.CONTENT "(RXC,NTE)"><!ELEMENT RSP_Z88.COMPONENT %RSP_Z88.COMPONENT.CONTENT;><!ENTITY % RSP_Z88.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT RSP_Z88.OBSERVATION %RSP_Z88.OBSERVATION.CONTENT;><!ENTITY % RSP_Z88.ORDER_DETAIL.CONTENT "(RXO,NTE,RXR,RSP_Z88.COMPONENT)"><!ELEMENT RSP_Z88.ORDER_DETAIL %RSP_Z88.ORDER_DETAIL.CONTENT;><!ENTITY % RSP_Z88.QUERY_RESPONSE.CONTENT "(RSP_Z88.PATIENT,RSP_Z88.COMMON_ORDER)"><!ELEMENT RSP_Z88.QUERY_RESPONSE %RSP_Z88.QUERY_RESPONSE.CONTENT;><!ENTITY % RSP_Z88.ALLERGY.CONTENT "(AL1,RSP_Z88.VISIT)"><!ELEMENT RSP_Z88.ALLERGY %RSP_Z88.ALLERGY.CONTENT;><!-- .. message definition RSP_Z88 --><!ENTITY % RSP_Z88.CONTENT "(MSH,SFT*,MSA,ERR?,QAK,QPD,RCP,RSP_Z88.QUERY_RESPONSE+,DSC)"><!ELEMENT RSP_Z88 %RSP_Z88.CONTENT;>