utilities/hl7v2.xml-templates/v25/dtd/RSP_Z86.dtd

<!--    v2.xml Message Definitions Version v25  - RSP_Z86    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RSP_Z86--><!-- .. groups used in message RSP_Z86 --><!ENTITY % RSP_Z86.COMMON_ORDER.CONTENT "(ORC,RSP_Z86.TIMING,RSP_Z86.ORDER_DETAIL,RSP_Z86.ENCODED_ORDER,RSP_Z86.DISPENSE,RSP_Z86.GIVE,RSP_Z86.ADMINISTRATION,RSP_Z86.OBSERVATION)"><!ELEMENT RSP_Z86.COMMON_ORDER %RSP_Z86.COMMON_ORDER.CONTENT;><!ENTITY % RSP_Z86.DISPENSE.CONTENT "(RXD,RXR,RXC)"><!ELEMENT RSP_Z86.DISPENSE %RSP_Z86.DISPENSE.CONTENT;><!ENTITY % RSP_Z86.TIMING_ENCODED.CONTENT "(TQ1,TQ2)"><!ELEMENT RSP_Z86.TIMING_ENCODED %RSP_Z86.TIMING_ENCODED.CONTENT;><!ENTITY % RSP_Z86.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RSP_Z86.TIMING %RSP_Z86.TIMING.CONTENT;><!ENTITY % RSP_Z86.ADMINISTRATION.CONTENT "(RXA,RXR,RXC)"><!ELEMENT RSP_Z86.ADMINISTRATION %RSP_Z86.ADMINISTRATION.CONTENT;><!ENTITY % RSP_Z86.ENCODED_ORDER.CONTENT "(RXE,RSP_Z86.TIMING,RXR,RXC)"><!ELEMENT RSP_Z86.ENCODED_ORDER %RSP_Z86.ENCODED_ORDER.CONTENT;><!ENTITY % RSP_Z86.PATIENT.CONTENT "(PID,PD1,NTE,AL1)"><!ELEMENT RSP_Z86.PATIENT %RSP_Z86.PATIENT.CONTENT;><!ENTITY % RSP_Z86.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT RSP_Z86.OBSERVATION %RSP_Z86.OBSERVATION.CONTENT;><!ENTITY % RSP_Z86.GIVE.CONTENT "(RXG,RXR,RXC)"><!ELEMENT RSP_Z86.GIVE %RSP_Z86.GIVE.CONTENT;><!ENTITY % RSP_Z86.ORDER_DETAIL.CONTENT "(RXO,RXR,RXC)"><!ELEMENT RSP_Z86.ORDER_DETAIL %RSP_Z86.ORDER_DETAIL.CONTENT;><!ENTITY % RSP_Z86.QUERY_RESPONSE.CONTENT "(RSP_Z86.PATIENT,RSP_Z86.COMMON_ORDER)"><!ELEMENT RSP_Z86.QUERY_RESPONSE %RSP_Z86.QUERY_RESPONSE.CONTENT;><!-- .. message definition RSP_Z86 --><!ENTITY % RSP_Z86.CONTENT "(MSH,SFT*,MSA,ERR?,QAK,QPD,RSP_Z86.QUERY_RESPONSE+,DSC?)"><!ELEMENT RSP_Z86 %RSP_Z86.CONTENT;>