utilities/hl7v2.xml-templates/v25/dtd/RSP_Z90.dtd

<!--    v2.xml Message Definitions Version v25  - RSP_Z90    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RSP_Z90--><!-- .. groups used in message RSP_Z90 --><!ENTITY % RSP_Z90.COMMON_ORDER.CONTENT "(ORC,RSP_Z90.TIMING,OBR,NTE,CTD,RSP_Z90.OBSERVATION)"><!ELEMENT RSP_Z90.COMMON_ORDER %RSP_Z90.COMMON_ORDER.CONTENT;><!ENTITY % RSP_Z90.VISIT.CONTENT "(PV1,PV2)"><!ELEMENT RSP_Z90.VISIT %RSP_Z90.VISIT.CONTENT;><!ENTITY % RSP_Z90.SPECIMEN.CONTENT "(RSP_Z90.SPMOBX_SUPPGRP)"><!ELEMENT RSP_Z90.SPECIMEN %RSP_Z90.SPECIMEN.CONTENT;><!ENTITY % RSP_Z90.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RSP_Z90.TIMING %RSP_Z90.TIMING.CONTENT;><!ENTITY % RSP_Z90.PATIENT.CONTENT "(PID,PD1,NK1,NTE,RSP_Z90.VISIT)"><!ELEMENT RSP_Z90.PATIENT %RSP_Z90.PATIENT.CONTENT;><!ENTITY % RSP_Z90.SPMOBX_SUPPGRP.CONTENT "(SPM,OBX)"><!ELEMENT RSP_Z90.SPMOBX_SUPPGRP %RSP_Z90.SPMOBX_SUPPGRP.CONTENT;><!ENTITY % RSP_Z90.QUERY_RESPONSE.CONTENT "(RSP_Z90.PATIENT,RSP_Z90.COMMON_ORDER,RSP_Z90.SPECIMEN)"><!ELEMENT RSP_Z90.QUERY_RESPONSE %RSP_Z90.QUERY_RESPONSE.CONTENT;><!ENTITY % RSP_Z90.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT RSP_Z90.OBSERVATION %RSP_Z90.OBSERVATION.CONTENT;><!-- .. message definition RSP_Z90 --><!ENTITY % RSP_Z90.CONTENT "(MSH,SFT*,MSA,ERR?,QAK,QPD,RCP,RSP_Z90.QUERY_RESPONSE,DSC)"><!ELEMENT RSP_Z90 %RSP_Z90.CONTENT;>