utilities/hl7v2.xml-templates/v25/dtd/RSP_Z82.dtd

<!--    v2.xml Message Definitions Version v25  - RSP_Z82    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE RSP_Z82--><!-- .. groups used in message RSP_Z82 --><!ENTITY % RSP_Z82.COMMON_ORDER.CONTENT "(ORC,RSP_Z82.TIMING,RSP_Z82.ORDER_DETAIL,RSP_Z82.ENCODED_ORDER,RXD,RXR,RXC,RSP_Z82.OBSERVATION)"><!ELEMENT RSP_Z82.COMMON_ORDER %RSP_Z82.COMMON_ORDER.CONTENT;><!ENTITY % RSP_Z82.VISIT.CONTENT "(AL1,PV1,PV2)"><!ELEMENT RSP_Z82.VISIT %RSP_Z82.VISIT.CONTENT;><!ENTITY % RSP_Z82.TIMING_ENCODED.CONTENT "(TQ1,TQ2)"><!ELEMENT RSP_Z82.TIMING_ENCODED %RSP_Z82.TIMING_ENCODED.CONTENT;><!ENTITY % RSP_Z82.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT RSP_Z82.TIMING %RSP_Z82.TIMING.CONTENT;><!ENTITY % RSP_Z82.ENCODED_ORDER.CONTENT "(RXE,RSP_Z82.TIMING,RXR,RXC)"><!ELEMENT RSP_Z82.ENCODED_ORDER %RSP_Z82.ENCODED_ORDER.CONTENT;><!ENTITY % RSP_Z82.PATIENT.CONTENT "(PID,PD1,NTE,RSP_Z82.VISIT)"><!ELEMENT RSP_Z82.PATIENT %RSP_Z82.PATIENT.CONTENT;><!ENTITY % RSP_Z82.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT RSP_Z82.OBSERVATION %RSP_Z82.OBSERVATION.CONTENT;><!ENTITY % RSP_Z82.ORDER_DETAIL.CONTENT "(RXO,NTE,RXR,RSP_Z82.TREATMENT)"><!ELEMENT RSP_Z82.ORDER_DETAIL %RSP_Z82.ORDER_DETAIL.CONTENT;><!ENTITY % RSP_Z82.TREATMENT.CONTENT "(RXC,NTE)"><!ELEMENT RSP_Z82.TREATMENT %RSP_Z82.TREATMENT.CONTENT;><!ENTITY % RSP_Z82.QUERY_RESPONSE.CONTENT "(RSP_Z82.PATIENT,RSP_Z82.COMMON_ORDER)"><!ELEMENT RSP_Z82.QUERY_RESPONSE %RSP_Z82.QUERY_RESPONSE.CONTENT;><!-- .. message definition RSP_Z82 --><!ENTITY % RSP_Z82.CONTENT "(MSH,SFT*,MSA,ERR?,QAK,QPD,RCP,RSP_Z82.QUERY_RESPONSE+,DSC?)"><!ELEMENT RSP_Z82 %RSP_Z82.CONTENT;>