utilities/hl7v2.xml-templates/v25/dtd/segments.dtd

<!--
    v2.xml Message Definitions Version v25  - segments
    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.
-->
<!-- include fields definitions for version v25 -->
<!ENTITY % HL7v25-fields PUBLIC
  "-//HL7//DTD HL7 v25 fields definitions//EN"
  "fields.dtd">
  %HL7v25-fields;
<!--
    SEGMENT ABS
-->
<!ENTITY % ABS.CONTENT "(ABS.1?,ABS.2?,ABS.3?,ABS.4?,ABS.5?,ABS.6?,ABS.7?,ABS.8?,ABS.9?,ABS.10?,ABS.11?,ABS.12?,ABS.13?,ABS.14?)">
<!ELEMENT ABS %ABS.CONTENT;>

<!--
    SEGMENT ACC
-->
<!ENTITY % ACC.CONTENT "(ACC.1?,ACC.2?,ACC.3?,ACC.4?,ACC.5?,ACC.6?,ACC.7?,ACC.8?,ACC.9?,ACC.10?,ACC.11?)">
<!ELEMENT ACC %ACC.CONTENT;>

<!--
    SEGMENT ADD
-->
<!ENTITY % ADD.CONTENT "(ADD.1?)">
<!ELEMENT ADD %ADD.CONTENT;>

<!--
    SEGMENT AFF
-->
<!ENTITY % AFF.CONTENT "(AFF.1,AFF.2,AFF.3?,AFF.4*,AFF.5?)">
<!ELEMENT AFF %AFF.CONTENT;>

<!--
    SEGMENT AIG
-->
<!ENTITY % AIG.CONTENT "(AIG.1,AIG.2?,AIG.3?,AIG.4,AIG.5*,AIG.6?,AIG.7?,AIG.8?,AIG.9?,AIG.10?,AIG.11?,AIG.12?,AIG.13?,AIG.14?)">
<!ELEMENT AIG %AIG.CONTENT;>

<!--
    SEGMENT AIL
-->
<!ENTITY % AIL.CONTENT "(AIL.1,AIL.2?,AIL.3*,AIL.4?,AIL.5?,AIL.6?,AIL.7?,AIL.8?,AIL.9?,AIL.10?,AIL.11?,AIL.12?)">
<!ELEMENT AIL %AIL.CONTENT;>

<!--
    SEGMENT AIP
-->
<!ENTITY % AIP.CONTENT "(AIP.1,AIP.2?,AIP.3*,AIP.4?,AIP.5?,AIP.6?,AIP.7?,AIP.8?,AIP.9?,AIP.10?,AIP.11?,AIP.12?)">
<!ELEMENT AIP %AIP.CONTENT;>

<!--
    SEGMENT AIS
-->
<!ENTITY % AIS.CONTENT "(AIS.1,AIS.2?,AIS.3,AIS.4?,AIS.5?,AIS.6?,AIS.7?,AIS.8?,AIS.9?,AIS.10?,AIS.11*,AIS.12*)">
<!ELEMENT AIS %AIS.CONTENT;>

<!--
    SEGMENT AL1
-->
<!ENTITY % AL1.CONTENT "(AL1.1,AL1.2?,AL1.3,AL1.4?,AL1.5*,AL1.6?)">
<!ELEMENT AL1 %AL1.CONTENT;>

<!--
    SEGMENT APR
-->
<!ENTITY % APR.CONTENT "(APR.1*,APR.2*,APR.3*,APR.4?,APR.5*)">
<!ELEMENT APR %APR.CONTENT;>

<!--
    SEGMENT ARQ
-->
<!ENTITY % ARQ.CONTENT "(ARQ.1,ARQ.2?,ARQ.3?,ARQ.4?,ARQ.5?,ARQ.6?,ARQ.7?,ARQ.8?,ARQ.9?,ARQ.10?,ARQ.11*,ARQ.12?,ARQ.13?,ARQ.14?,ARQ.15+,ARQ.16*,ARQ.17*,ARQ.18?,ARQ.19+,ARQ.20*,ARQ.21?,ARQ.22?,ARQ.23?,ARQ.24*,ARQ.25*)">
<!ELEMENT ARQ %ARQ.CONTENT;>

<!--
    SEGMENT AUT
-->
<!ENTITY % AUT.CONTENT "(AUT.1?,AUT.2,AUT.3?,AUT.4?,AUT.5?,AUT.6?,AUT.7?,AUT.8?,AUT.9?,AUT.10?)">
<!ELEMENT AUT %AUT.CONTENT;>

<!--
    SEGMENT BHS
-->
<!ENTITY % BHS.CONTENT "(BHS.1,BHS.2,BHS.3?,BHS.4?,BHS.5?,BHS.6?,BHS.7?,BHS.8?,BHS.9?,BHS.10?,BHS.11?,BHS.12?)">
<!ELEMENT BHS %BHS.CONTENT;>

<!--
    SEGMENT BLC
-->
<!ENTITY % BLC.CONTENT "(BLC.1?,BLC.2?)">
<!ELEMENT BLC %BLC.CONTENT;>

<!--
    SEGMENT BLG
-->
<!ENTITY % BLG.CONTENT "(BLG.1?,BLG.2?,BLG.3?,BLG.4?)">
<!ELEMENT BLG %BLG.CONTENT;>

<!--
    SEGMENT BPO
-->
<!ENTITY % BPO.CONTENT "(BPO.1,BPO.2,BPO.3*,BPO.4,BPO.5?,BPO.6?,BPO.7?,BPO.8?,BPO.9?,BPO.10?,BPO.11?,BPO.12?,BPO.13*,BPO.14?)">
<!ELEMENT BPO %BPO.CONTENT;>

<!--
    SEGMENT BPX
-->
<!ENTITY % BPX.CONTENT "(BPX.1,BPX.2,BPX.3,BPX.4,BPX.5?,BPX.6?,BPX.7?,BPX.8?,BPX.9?,BPX.10?,BPX.11?,BPX.12*,BPX.13?,BPX.14,BPX.15?,BPX.16?,BPX.17?,BPX.18?,BPX.19?,BPX.20?,BPX.21?)">
<!ELEMENT BPX %BPX.CONTENT;>

<!--
    SEGMENT BTS
-->
<!ENTITY % BTS.CONTENT "(BTS.1?,BTS.2?,BTS.3*)">
<!ELEMENT BTS %BTS.CONTENT;>

<!--
    SEGMENT BTX
-->
<!ENTITY % BTX.CONTENT "(BTX.1,BTX.2?,BTX.3?,BTX.4?,BTX.5?,BTX.6?,BTX.7?,BTX.8,BTX.9?,BTX.10?,BTX.11,BTX.12,BTX.13,BTX.14?,BTX.15?,BTX.16?,BTX.17?,BTX.18*,BTX.19?)">
<!ELEMENT BTX %BTX.CONTENT;>

<!--
    SEGMENT CDM
-->
<!ENTITY % CDM.CONTENT "(CDM.1,CDM.2*,CDM.3,CDM.4?,CDM.5?,CDM.6*,CDM.7*,CDM.8?,CDM.9*,CDM.10?,CDM.11*,CDM.12*,CDM.13?)">
<!ELEMENT CDM %CDM.CONTENT;>

<!--
    SEGMENT CER
-->
<!ENTITY % CER.CONTENT "(CER.1,CER.2?,CER.3?,CER.4?,CER.5?,CER.6?,CER.7?,CER.8?,CER.9?,CER.10?,CER.11?,CER.12?,CER.13,CER.14*,CER.15?,CER.16?,CER.17?,CER.18*,CER.19?,CER.20?,CER.21?,CER.22*,CER.23?,CER.24?,CER.25?,CER.26?,CER.27?,CER.28?,CER.29?,CER.30?,CER.31?)">
<!ELEMENT CER %CER.CONTENT;>

<!--
    SEGMENT CM0
-->
<!ENTITY % CM0.CONTENT "(CM0.1?,CM0.2,CM0.3*,CM0.4,CM0.5*,CM0.6?,CM0.7?,CM0.8?,CM0.9*,CM0.10?,CM0.11*)">
<!ELEMENT CM0 %CM0.CONTENT;>

<!--
    SEGMENT CM1
-->
<!ENTITY % CM1.CONTENT "(CM1.1,CM1.2,CM1.3)">
<!ELEMENT CM1 %CM1.CONTENT;>

<!--
    SEGMENT CM2
-->
<!ENTITY % CM2.CONTENT "(CM2.1?,CM2.2,CM2.3?,CM2.4+)">
<!ELEMENT CM2 %CM2.CONTENT;>

<!--
    SEGMENT CNS
-->
<!ENTITY % CNS.CONTENT "(CNS.1?,CNS.2?,CNS.3?,CNS.4?,CNS.5?,CNS.6?)">
<!ELEMENT CNS %CNS.CONTENT;>

<!--
    SEGMENT CON
-->
<!ENTITY % CON.CONTENT "(CON.1,CON.2?,CON.3?,CON.4?,CON.5*,CON.6*,CON.7*,CON.8*,CON.9*,CON.10?,CON.11,CON.12?,CON.13?,CON.14?,CON.15?,CON.16?,CON.17?,CON.18?,CON.19?,CON.20?,CON.21?,CON.22?,CON.23?,CON.24+,CON.25+)">
<!ELEMENT CON %CON.CONTENT;>

<!--
    SEGMENT CSP
-->
<!ENTITY % CSP.CONTENT "(CSP.1,CSP.2,CSP.3?,CSP.4?)">
<!ELEMENT CSP %CSP.CONTENT;>

<!--
    SEGMENT CSR
-->
<!ENTITY % CSR.CONTENT "(CSR.1,CSR.2?,CSR.3?,CSR.4,CSR.5?,CSR.6,CSR.7*,CSR.8+,CSR.9?,CSR.10?,CSR.11*,CSR.12*,CSR.13*,CSR.14?,CSR.15?,CSR.16?)">
<!ELEMENT CSR %CSR.CONTENT;>

<!--
    SEGMENT CSS
-->
<!ENTITY % CSS.CONTENT "(CSS.1,CSS.2?,CSS.3*)">
<!ELEMENT CSS %CSS.CONTENT;>

<!--
    SEGMENT CTD
-->
<!ENTITY % CTD.CONTENT "(CTD.1+,CTD.2*,CTD.3*,CTD.4?,CTD.5*,CTD.6?,CTD.7*)">
<!ELEMENT CTD %CTD.CONTENT;>

<!--
    SEGMENT CTI
-->
<!ENTITY % CTI.CONTENT "(CTI.1,CTI.2?,CTI.3?)">
<!ELEMENT CTI %CTI.CONTENT;>

<!--
    SEGMENT DB1
-->
<!ENTITY % DB1.CONTENT "(DB1.1,DB1.2?,DB1.3*,DB1.4?,DB1.5?,DB1.6?,DB1.7?,DB1.8?)">
<!ELEMENT DB1 %DB1.CONTENT;>

<!--
    SEGMENT DG1
-->
<!ENTITY % DG1.CONTENT "(DG1.1,DG1.2,DG1.3?,DG1.4?,DG1.5?,DG1.6,DG1.7?,DG1.8?,DG1.9?,DG1.10?,DG1.11?,DG1.12?,DG1.13?,DG1.14?,DG1.15?,DG1.16*,DG1.17?,DG1.18?,DG1.19?,DG1.20?,DG1.21?)">
<!ELEMENT DG1 %DG1.CONTENT;>

<!--
    SEGMENT DRG
-->
<!ENTITY % DRG.CONTENT "(DRG.1?,DRG.2?,DRG.3?,DRG.4?,DRG.5?,DRG.6?,DRG.7?,DRG.8?,DRG.9?,DRG.10?,DRG.11?)">
<!ELEMENT DRG %DRG.CONTENT;>

<!--
    SEGMENT DSC
-->
<!ENTITY % DSC.CONTENT "(DSC.1?,DSC.2?)">
<!ELEMENT DSC %DSC.CONTENT;>

<!--
    SEGMENT DSP
-->
<!ENTITY % DSP.CONTENT "(DSP.1?,DSP.2?,DSP.3,DSP.4?,DSP.5?)">
<!ELEMENT DSP %DSP.CONTENT;>

<!--
    SEGMENT ECD
-->
<!ENTITY % ECD.CONTENT "(ECD.1,ECD.2,ECD.3?,ECD.4?,ECD.5*)">
<!ELEMENT ECD %ECD.CONTENT;>

<!--
    SEGMENT ECR
-->
<!ENTITY % ECR.CONTENT "(ECR.1,ECR.2,ECR.3*)">
<!ELEMENT ECR %ECR.CONTENT;>

<!--
    SEGMENT EDU
-->
<!ENTITY % EDU.CONTENT "(EDU.1,EDU.2?,EDU.3?,EDU.4?,EDU.5?,EDU.6?,EDU.7?,EDU.8?,EDU.9*)">
<!ELEMENT EDU %EDU.CONTENT;>

<!--
    SEGMENT EQL
-->
<!ENTITY % EQL.CONTENT "(EQL.1?,EQL.2,EQL.3,EQL.4)">
<!ELEMENT EQL %EQL.CONTENT;>

<!--
    SEGMENT EQP
-->
<!ENTITY % EQP.CONTENT "(EQP.1,EQP.2?,EQP.3,EQP.4?,EQP.5)">
<!ELEMENT EQP %EQP.CONTENT;>

<!--
    SEGMENT EQU
-->
<!ENTITY % EQU.CONTENT "(EQU.1,EQU.2,EQU.3?,EQU.4?,EQU.5?)">
<!ELEMENT EQU %EQU.CONTENT;>

<!--
    SEGMENT ERQ
-->
<!ENTITY % ERQ.CONTENT "(ERQ.1?,ERQ.2,ERQ.3*)">
<!ELEMENT ERQ %ERQ.CONTENT;>

<!--
    SEGMENT ERR
-->
<!ENTITY % ERR.CONTENT "(ERR.1*,ERR.2*,ERR.3,ERR.4,ERR.5?,ERR.6*,ERR.7?,ERR.8?,ERR.9*,ERR.10?,ERR.11*,ERR.12*)">
<!ELEMENT ERR %ERR.CONTENT;>

<!--
    SEGMENT EVN
-->
<!ENTITY % EVN.CONTENT "(EVN.1?,EVN.2,EVN.3?,EVN.4?,EVN.5*,EVN.6?,EVN.7?)">
<!ELEMENT EVN %EVN.CONTENT;>

<!--
    SEGMENT FAC
-->
<!ENTITY % FAC.CONTENT "(FAC.1,FAC.2?,FAC.3+,FAC.4,FAC.5*,FAC.6*,FAC.7*,FAC.8*,FAC.9+,FAC.10?,FAC.11*,FAC.12?)">
<!ELEMENT FAC %FAC.CONTENT;>

<!--
    SEGMENT FHS
-->
<!ENTITY % FHS.CONTENT "(FHS.1,FHS.2,FHS.3?,FHS.4?,FHS.5?,FHS.6?,FHS.7?,FHS.8?,FHS.9?,FHS.10?,FHS.11?,FHS.12?)">
<!ELEMENT FHS %FHS.CONTENT;>

<!--
    SEGMENT FT1
-->
<!ENTITY % FT1.CONTENT "(FT1.1?,FT1.2?,FT1.3?,FT1.4,FT1.5?,FT1.6,FT1.7,FT1.8?,FT1.9?,FT1.10?,FT1.11?,FT1.12?,FT1.13?,FT1.14?,FT1.15?,FT1.16?,FT1.17?,FT1.18?,FT1.19*,FT1.20*,FT1.21*,FT1.22?,FT1.23?,FT1.24*,FT1.25?,FT1.26*,FT1.27?,FT1.28?,FT1.29?,FT1.30?,FT1.31*)">
<!ELEMENT FT1 %FT1.CONTENT;>

<!--
    SEGMENT FTS
-->
<!ENTITY % FTS.CONTENT "(FTS.1?,FTS.2?)">
<!ELEMENT FTS %FTS.CONTENT;>

<!--
    SEGMENT GOL
-->
<!ENTITY % GOL.CONTENT "(GOL.1,GOL.2,GOL.3,GOL.4,GOL.5?,GOL.6?,GOL.7?,GOL.8?,GOL.9?,GOL.10?,GOL.11?,GOL.12?,GOL.13?,GOL.14?,GOL.15?,GOL.16?,GOL.17*,GOL.18?,GOL.19?,GOL.20*,GOL.21*)">
<!ELEMENT GOL %GOL.CONTENT;>

<!--
    SEGMENT GP1
-->
<!ENTITY % GP1.CONTENT "(GP1.1,GP1.2*,GP1.3?,GP1.4*,GP1.5?)">
<!ELEMENT GP1 %GP1.CONTENT;>

<!--
    SEGMENT GP2
-->
<!ENTITY % GP2.CONTENT "(GP2.1?,GP2.2?,GP2.3?,GP2.4?,GP2.5?,GP2.6*,GP2.7?,GP2.8*,GP2.9?,GP2.10?,GP2.11?,GP2.12?,GP2.13?,GP2.14?)">
<!ELEMENT GP2 %GP2.CONTENT;>

<!--
    SEGMENT GT1
-->
<!ENTITY % GT1.CONTENT "(GT1.1,GT1.2*,GT1.3+,GT1.4*,GT1.5*,GT1.6*,GT1.7*,GT1.8?,GT1.9?,GT1.10?,GT1.11?,GT1.12?,GT1.13?,GT1.14?,GT1.15?,GT1.16*,GT1.17*,GT1.18*,GT1.19*,GT1.20?,GT1.21*,GT1.22?,GT1.23?,GT1.24?,GT1.25?,GT1.26?,GT1.27?,GT1.28?,GT1.29*,GT1.30?,GT1.31?,GT1.32?,GT1.33?,GT1.34*,GT1.35*,GT1.36?,GT1.37?,GT1.38?,GT1.39?,GT1.40?,GT1.41?,GT1.42*,GT1.43?,GT1.44*,GT1.45*,GT1.46*,GT1.47?,GT1.48?,GT1.49?,GT1.50?,GT1.51*,GT1.52?,GT1.53?,GT1.54?,GT1.55*,GT1.56?,GT1.57?)">
<!ELEMENT GT1 %GT1.CONTENT;>

<!--
    SEGMENT IAM
-->
<!ENTITY % IAM.CONTENT "(IAM.1,IAM.2?,IAM.3,IAM.4?,IAM.5*,IAM.6,IAM.7?,IAM.8?,IAM.9?,IAM.10?,IAM.11?,IAM.12?,IAM.13?,IAM.14?,IAM.15?,IAM.16?,IAM.17?,IAM.18?,IAM.19?,IAM.20?)">
<!ELEMENT IAM %IAM.CONTENT;>

<!--
    SEGMENT IIM
-->
<!ENTITY % IIM.CONTENT "(IIM.1,IIM.2,IIM.3?,IIM.4?,IIM.5?,IIM.6?,IIM.7?,IIM.8?,IIM.9?,IIM.10?,IIM.11?,IIM.12?,IIM.13?,IIM.14?,IIM.15*)">
<!ELEMENT IIM %IIM.CONTENT;>

<!--
    SEGMENT IN1
-->
<!ENTITY % IN1.CONTENT "(IN1.1,IN1.2,IN1.3+,IN1.4*,IN1.5*,IN1.6*,IN1.7*,IN1.8?,IN1.9*,IN1.10*,IN1.11*,IN1.12?,IN1.13?,IN1.14?,IN1.15?,IN1.16*,IN1.17?,IN1.18?,IN1.19*,IN1.20?,IN1.21?,IN1.22?,IN1.23?,IN1.24?,IN1.25?,IN1.26?,IN1.27?,IN1.28?,IN1.29?,IN1.30*,IN1.31?,IN1.32?,IN1.33?,IN1.34?,IN1.35?,IN1.36?,IN1.37?,IN1.38?,IN1.39?,IN1.40?,IN1.41?,IN1.42?,IN1.43?,IN1.44*,IN1.45?,IN1.46?,IN1.47?,IN1.48?,IN1.49*,IN1.50?,IN1.51?,IN1.52?,IN1.53?)">
<!ELEMENT IN1 %IN1.CONTENT;>

<!--
    SEGMENT IN2
-->
<!ENTITY % IN2.CONTENT "(IN2.1*,IN2.2?,IN2.3*,IN2.4?,IN2.5*,IN2.6?,IN2.7*,IN2.8?,IN2.9*,IN2.10?,IN2.11?,IN2.12?,IN2.13?,IN2.14?,IN2.15?,IN2.16?,IN2.17?,IN2.18?,IN2.19?,IN2.20?,IN2.21?,IN2.22*,IN2.23?,IN2.24*,IN2.25*,IN2.26*,IN2.27?,IN2.28*,IN2.29*,IN2.30?,IN2.31?,IN2.32*,IN2.33*,IN2.34?,IN2.35?,IN2.36?,IN2.37?,IN2.38?,IN2.39?,IN2.40*,IN2.41?,IN2.42*,IN2.43*,IN2.44?,IN2.45?,IN2.46?,IN2.47?,IN2.48?,IN2.49*,IN2.50*,IN2.51?,IN2.52*,IN2.53*,IN2.54*,IN2.55?,IN2.56*,IN2.57?,IN2.58?,IN2.59?,IN2.60?,IN2.61?,IN2.62?,IN2.63*,IN2.64*,IN2.65?,IN2.66?,IN2.67?,IN2.68?,IN2.69*,IN2.70*,IN2.71*,IN2.72?)">
<!ELEMENT IN2 %IN2.CONTENT;>

<!--
    SEGMENT IN3
-->
<!ENTITY % IN3.CONTENT "(IN3.1,IN3.2?,IN3.3*,IN3.4?,IN3.5?,IN3.6?,IN3.7?,IN3.8*,IN3.9?,IN3.10?,IN3.11?,IN3.12?,IN3.13?,IN3.14*,IN3.15?,IN3.16*,IN3.17?,IN3.18?,IN3.19*,IN3.20*,IN3.21?,IN3.22?,IN3.23?,IN3.24*,IN3.25*)">
<!ELEMENT IN3 %IN3.CONTENT;>

<!--
    SEGMENT INV
-->
<!ENTITY % INV.CONTENT "(INV.1,INV.2+,INV.3?,INV.4?,INV.5?,INV.6?,INV.7?,INV.8?,INV.9?,INV.10?,INV.11?,INV.12?,INV.13?,INV.14?,INV.15*,INV.16?,INV.17?,INV.18?,INV.19?,INV.20?)">
<!ELEMENT INV %INV.CONTENT;>

<!--
    SEGMENT IPC
-->
<!ENTITY % IPC.CONTENT "(IPC.1,IPC.2,IPC.3,IPC.4,IPC.5?,IPC.6*,IPC.7?,IPC.8*,IPC.9?)">
<!ELEMENT IPC %IPC.CONTENT;>

<!--
    SEGMENT ISD
-->
<!ENTITY % ISD.CONTENT "(ISD.1,ISD.2?,ISD.3)">
<!ELEMENT ISD %ISD.CONTENT;>

<!--
    SEGMENT LAN
-->
<!ENTITY % LAN.CONTENT "(LAN.1,LAN.2,LAN.3*,LAN.4?)">
<!ELEMENT LAN %LAN.CONTENT;>

<!--
    SEGMENT LCC
-->
<!ENTITY % LCC.CONTENT "(LCC.1,LCC.2,LCC.3*,LCC.4+)">
<!ELEMENT LCC %LCC.CONTENT;>

<!--
    SEGMENT LCH
-->
<!ENTITY % LCH.CONTENT "(LCH.1,LCH.2?,LCH.3?,LCH.4,LCH.5)">
<!ELEMENT LCH %LCH.CONTENT;>

<!--
    SEGMENT LDP
-->
<!ENTITY % LDP.CONTENT "(LDP.1,LDP.2,LDP.3*,LDP.4*,LDP.5*,LDP.6?,LDP.7?,LDP.8?,LDP.9?,LDP.10*,LDP.11?,LDP.12?)">
<!ELEMENT LDP %LDP.CONTENT;>

<!--
    SEGMENT LOC
-->
<!ENTITY % LOC.CONTENT "(LOC.1,LOC.2?,LOC.3+,LOC.4*,LOC.5*,LOC.6*,LOC.7*,LOC.8*,LOC.9?)">
<!ELEMENT LOC %LOC.CONTENT;>

<!--
    SEGMENT LRL
-->
<!ENTITY % LRL.CONTENT "(LRL.1,LRL.2?,LRL.3?,LRL.4,LRL.5*,LRL.6?)">
<!ELEMENT LRL %LRL.CONTENT;>

<!--
    SEGMENT MFA
-->
<!ENTITY % MFA.CONTENT "(MFA.1,MFA.2?,MFA.3?,MFA.4,MFA.5+,MFA.6+)">
<!ELEMENT MFA %MFA.CONTENT;>

<!--
    SEGMENT MFE
-->
<!ENTITY % MFE.CONTENT "(MFE.1,MFE.2?,MFE.3?,MFE.4+,MFE.5+)">
<!ELEMENT MFE %MFE.CONTENT;>

<!--
    SEGMENT MFI
-->
<!ENTITY % MFI.CONTENT "(MFI.1,MFI.2?,MFI.3,MFI.4?,MFI.5?,MFI.6)">
<!ELEMENT MFI %MFI.CONTENT;>

<!--
    SEGMENT MRG
-->
<!ENTITY % MRG.CONTENT "(MRG.1+,MRG.2*,MRG.3?,MRG.4?,MRG.5?,MRG.6?,MRG.7*)">
<!ELEMENT MRG %MRG.CONTENT;>

<!--
    SEGMENT MSA
-->
<!ENTITY % MSA.CONTENT "(MSA.1,MSA.2,MSA.3?,MSA.4?,MSA.5,MSA.6?)">
<!ELEMENT MSA %MSA.CONTENT;>

<!--
    SEGMENT MSH
-->
<!ENTITY % MSH.CONTENT "(MSH.1,MSH.2,MSH.3?,MSH.4?,MSH.5?,MSH.6?,MSH.7,MSH.8?,MSH.9,MSH.10,MSH.11,MSH.12,MSH.13?,MSH.14?,MSH.15?,MSH.16?,MSH.17?,MSH.18*,MSH.19?,MSH.20?,MSH.21*)">
<!ELEMENT MSH %MSH.CONTENT;>

<!--
    SEGMENT NCK
-->
<!ENTITY % NCK.CONTENT "(NCK.1)">
<!ELEMENT NCK %NCK.CONTENT;>

<!--
    SEGMENT NDS
-->
<!ENTITY % NDS.CONTENT "(NDS.1,NDS.2,NDS.3,NDS.4)">
<!ELEMENT NDS %NDS.CONTENT;>

<!--
    SEGMENT NK1
-->
<!ENTITY % NK1.CONTENT "(NK1.1,NK1.2*,NK1.3?,NK1.4*,NK1.5*,NK1.6*,NK1.7?,NK1.8?,NK1.9?,NK1.10?,NK1.11?,NK1.12?,NK1.13*,NK1.14?,NK1.15?,NK1.16?,NK1.17*,NK1.18*,NK1.19*,NK1.20?,NK1.21?,NK1.22?,NK1.23?,NK1.24?,NK1.25?,NK1.26*,NK1.27?,NK1.28*,NK1.29*,NK1.30*,NK1.31*,NK1.32*,NK1.33*,NK1.34?,NK1.35*,NK1.36?,NK1.37?,NK1.38?,NK1.39?)">
<!ELEMENT NK1 %NK1.CONTENT;>

<!--
    SEGMENT NPU
-->
<!ENTITY % NPU.CONTENT "(NPU.1,NPU.2?)">
<!ELEMENT NPU %NPU.CONTENT;>

<!--
    SEGMENT NSC
-->
<!ENTITY % NSC.CONTENT "(NSC.1,NSC.2?,NSC.3?,NSC.4?,NSC.5?,NSC.6?,NSC.7?,NSC.8?,NSC.9?)">
<!ELEMENT NSC %NSC.CONTENT;>

<!--
    SEGMENT NST
-->
<!ENTITY % NST.CONTENT "(NST.1,NST.2?,NST.3?,NST.4?,NST.5?,NST.6?,NST.7?,NST.8?,NST.9?,NST.10?,NST.11?,NST.12?,NST.13?,NST.14?,NST.15?)">
<!ELEMENT NST %NST.CONTENT;>

<!--
    SEGMENT NTE
-->
<!ENTITY % NTE.CONTENT "(NTE.1?,NTE.2?,NTE.3*,NTE.4?)">
<!ELEMENT NTE %NTE.CONTENT;>

<!--
    SEGMENT OBR
-->
<!ENTITY % OBR.CONTENT "(OBR.1?,OBR.2?,OBR.3?,OBR.4,OBR.5?,OBR.6?,OBR.7?,OBR.8?,OBR.9?,OBR.10*,OBR.11?,OBR.12?,OBR.13?,OBR.14?,OBR.15?,OBR.16*,OBR.17*,OBR.18?,OBR.19?,OBR.20?,OBR.21?,OBR.22?,OBR.23?,OBR.24?,OBR.25?,OBR.26?,OBR.27*,OBR.28*,OBR.29?,OBR.30?,OBR.31*,OBR.32?,OBR.33*,OBR.34*,OBR.35*,OBR.36?,OBR.37?,OBR.38*,OBR.39*,OBR.40?,OBR.41?,OBR.42?,OBR.43*,OBR.44?,OBR.45*,OBR.46*,OBR.47*,OBR.48?,OBR.49?)">
<!ELEMENT OBR %OBR.CONTENT;>

<!--
    SEGMENT OBX
-->
<!ENTITY % OBX.CONTENT "(OBX.1?,OBX.2?,OBX.3,OBX.4?,OBX.5*,OBX.6?,OBX.7?,OBX.8*,OBX.9?,OBX.10*,OBX.11,OBX.12?,OBX.13?,OBX.14?,OBX.15?,OBX.16*,OBX.17*,OBX.18*,OBX.19?)">
<!ELEMENT OBX %OBX.CONTENT;>

<!--
    SEGMENT ODS
-->
<!ENTITY % ODS.CONTENT "(ODS.1,ODS.2*,ODS.3+,ODS.4*)">
<!ELEMENT ODS %ODS.CONTENT;>

<!--
    SEGMENT ODT
-->
<!ENTITY % ODT.CONTENT "(ODT.1,ODT.2*,ODT.3?)">
<!ELEMENT ODT %ODT.CONTENT;>

<!--
    SEGMENT OM1
-->
<!ENTITY % OM1.CONTENT "(OM1.1,OM1.2,OM1.3*,OM1.4,OM1.5,OM1.6?,OM1.7?,OM1.8+,OM1.9?,OM1.10?,OM1.11?,OM1.12?,OM1.13*,OM1.14*,OM1.15?,OM1.16*,OM1.17?,OM1.18,OM1.19?,OM1.20?,OM1.21?,OM1.22?,OM1.23?,OM1.24?,OM1.25*,OM1.26?,OM1.27*,OM1.28*,OM1.29?,OM1.30?,OM1.31?,OM1.32?,OM1.33?,OM1.34*,OM1.35?,OM1.36?,OM1.37?,OM1.38?,OM1.39?,OM1.40*,OM1.41?,OM1.42?,OM1.43?,OM1.44?,OM1.45?,OM1.46?,OM1.47?)">
<!ELEMENT OM1 %OM1.CONTENT;>

<!--
    SEGMENT OM2
-->
<!ENTITY % OM2.CONTENT "(OM2.1?,OM2.2?,OM2.3*,OM2.4?,OM2.5?,OM2.6*,OM2.7*,OM2.8?,OM2.9*,OM2.10?)">
<!ELEMENT OM2 %OM2.CONTENT;>

<!--
    SEGMENT OM3
-->
<!ENTITY % OM3.CONTENT "(OM3.1?,OM3.2?,OM3.3?,OM3.4*,OM3.5*,OM3.6*,OM3.7?)">
<!ELEMENT OM3 %OM3.CONTENT;>

<!--
    SEGMENT OM4
-->
<!ENTITY % OM4.CONTENT "(OM4.1?,OM4.2?,OM4.3?,OM4.4?,OM4.5?,OM4.6?,OM4.7?,OM4.8?,OM4.9?,OM4.10?,OM4.11?,OM4.12?,OM4.13*,OM4.14?)">
<!ELEMENT OM4 %OM4.CONTENT;>

<!--
    SEGMENT OM5
-->
<!ENTITY % OM5.CONTENT "(OM5.1?,OM5.2*,OM5.3?)">
<!ELEMENT OM5 %OM5.CONTENT;>

<!--
    SEGMENT OM6
-->
<!ENTITY % OM6.CONTENT "(OM6.1?,OM6.2?)">
<!ELEMENT OM6 %OM6.CONTENT;>

<!--
    SEGMENT OM7
-->
<!ENTITY % OM7.CONTENT "(OM7.1,OM7.2,OM7.3*,OM7.4?,OM7.5*,OM7.6?,OM7.7?,OM7.8?,OM7.9?,OM7.10?,OM7.11?,OM7.12?,OM7.13?,OM7.14?,OM7.15?,OM7.16?,OM7.17?,OM7.18?,OM7.19?,OM7.20?,OM7.21*,OM7.22?,OM7.23?,OM7.24*)">
<!ELEMENT OM7 %OM7.CONTENT;>

<!--
    SEGMENT ORC
-->
<!ENTITY % ORC.CONTENT "(ORC.1,ORC.2?,ORC.3?,ORC.4?,ORC.5?,ORC.6?,ORC.7*,ORC.8?,ORC.9?,ORC.10*,ORC.11*,ORC.12*,ORC.13?,ORC.14*,ORC.15?,ORC.16?,ORC.17?,ORC.18?,ORC.19*,ORC.20?,ORC.21*,ORC.22*,ORC.23*,ORC.24*,ORC.25?,ORC.26?,ORC.27?,ORC.28?,ORC.29?,ORC.30?)">
<!ELEMENT ORC %ORC.CONTENT;>

<!--
    SEGMENT ORG
-->
<!ENTITY % ORG.CONTENT "(ORG.1,ORG.2?,ORG.3?,ORG.4?,ORG.5?,ORG.6?,ORG.7?,ORG.8?,ORG.9?,ORG.10?,ORG.11?,ORG.12?)">
<!ELEMENT ORG %ORG.CONTENT;>

<!--
    SEGMENT OVR
-->
<!ENTITY % OVR.CONTENT "(OVR.1?,OVR.2?,OVR.3?,OVR.4?,OVR.5?)">
<!ELEMENT OVR %OVR.CONTENT;>

<!--
    SEGMENT PCR
-->
<!ENTITY % PCR.CONTENT "(PCR.1,PCR.2?,PCR.3?,PCR.4?,PCR.5?,PCR.6?,PCR.7?,PCR.8?,PCR.9?,PCR.10?,PCR.11?,PCR.12*,PCR.13?,PCR.14?,PCR.15?,PCR.16?,PCR.17?,PCR.18?,PCR.19?,PCR.20?,PCR.21*,PCR.22*,PCR.23*)">
<!ELEMENT PCR %PCR.CONTENT;>

<!--
    SEGMENT PD1
-->
<!ENTITY % PD1.CONTENT "(PD1.1*,PD1.2?,PD1.3*,PD1.4*,PD1.5?,PD1.6?,PD1.7?,PD1.8?,PD1.9?,PD1.10*,PD1.11?,PD1.12?,PD1.13?,PD1.14*,PD1.15*,PD1.16?,PD1.17?,PD1.18?,PD1.19?,PD1.20?,PD1.21?)">
<!ELEMENT PD1 %PD1.CONTENT;>

<!--
    SEGMENT PDA
-->
<!ENTITY % PDA.CONTENT "(PDA.1*,PDA.2?,PDA.3?,PDA.4?,PDA.5?,PDA.6?,PDA.7?,PDA.8?,PDA.9?)">
<!ELEMENT PDA %PDA.CONTENT;>

<!--
    SEGMENT PDC
-->
<!ENTITY % PDC.CONTENT "(PDC.1+,PDC.2,PDC.3,PDC.4?,PDC.5?,PDC.6*,PDC.7?,PDC.8*,PDC.9?,PDC.10?,PDC.11?,PDC.12?,PDC.13?,PDC.14?,PDC.15?)">
<!ELEMENT PDC %PDC.CONTENT;>

<!--
    SEGMENT PEO
-->
<!ENTITY % PEO.CONTENT "(PEO.1*,PEO.2*,PEO.3,PEO.4?,PEO.5?,PEO.6?,PEO.7*,PEO.8*,PEO.9?,PEO.10?,PEO.11*,PEO.12?,PEO.13*,PEO.14*,PEO.15*,PEO.16*,PEO.17*,PEO.18*,PEO.19*,PEO.20*,PEO.21*,PEO.22?,PEO.23?,PEO.24?,PEO.25?)">
<!ELEMENT PEO %PEO.CONTENT;>

<!--
    SEGMENT PES
-->
<!ENTITY % PES.CONTENT "(PES.1*,PES.2*,PES.3*,PES.4*,PES.5?,PES.6?,PES.7*,PES.8?,PES.9?,PES.10,PES.11*,PES.12?,PES.13*)">
<!ELEMENT PES %PES.CONTENT;>

<!--
    SEGMENT PID
-->
<!ENTITY % PID.CONTENT "(PID.1?,PID.2?,PID.3+,PID.4*,PID.5+,PID.6*,PID.7?,PID.8?,PID.9*,PID.10*,PID.11*,PID.12?,PID.13*,PID.14*,PID.15?,PID.16?,PID.17?,PID.18?,PID.19?,PID.20?,PID.21*,PID.22*,PID.23?,PID.24?,PID.25?,PID.26*,PID.27?,PID.28?,PID.29?,PID.30?,PID.31?,PID.32*,PID.33?,PID.34?,PID.35?,PID.36?,PID.37?,PID.38*,PID.39*)">
<!ELEMENT PID %PID.CONTENT;>

<!--
    SEGMENT PR1
-->
<!ENTITY % PR1.CONTENT "(PR1.1,PR1.2,PR1.3,PR1.4?,PR1.5,PR1.6?,PR1.7?,PR1.8*,PR1.9?,PR1.10?,PR1.11*,PR1.12*,PR1.13?,PR1.14?,PR1.15?,PR1.16*,PR1.17?,PR1.18*,PR1.19?,PR1.20?)">
<!ELEMENT PR1 %PR1.CONTENT;>

<!--
    SEGMENT PRA
-->
<!ENTITY % PRA.CONTENT "(PRA.1?,PRA.2*,PRA.3*,PRA.4?,PRA.5*,PRA.6*,PRA.7*,PRA.8?,PRA.9?,PRA.10?,PRA.11*,PRA.12?)">
<!ELEMENT PRA %PRA.CONTENT;>

<!--
    SEGMENT PRB
-->
<!ENTITY % PRB.CONTENT "(PRB.1,PRB.2,PRB.3,PRB.4,PRB.5?,PRB.6?,PRB.7?,PRB.8?,PRB.9?,PRB.10?,PRB.11*,PRB.12?,PRB.13?,PRB.14?,PRB.15?,PRB.16?,PRB.17?,PRB.18?,PRB.19?,PRB.20?,PRB.21?,PRB.22?,PRB.23?,PRB.24?,PRB.25?)">
<!ELEMENT PRB %PRB.CONTENT;>

<!--
    SEGMENT PRC
-->
<!ENTITY % PRC.CONTENT "(PRC.1,PRC.2*,PRC.3*,PRC.4*,PRC.5*,PRC.6*,PRC.7?,PRC.8?,PRC.9?,PRC.10?,PRC.11?,PRC.12?,PRC.13?,PRC.14*,PRC.15?,PRC.16?,PRC.17?,PRC.18?)">
<!ELEMENT PRC %PRC.CONTENT;>

<!--
    SEGMENT PRD
-->
<!ENTITY % PRD.CONTENT "(PRD.1+,PRD.2*,PRD.3*,PRD.4?,PRD.5*,PRD.6?,PRD.7*,PRD.8?,PRD.9?)">
<!ELEMENT PRD %PRD.CONTENT;>

<!--
    SEGMENT PSH
-->
<!ENTITY % PSH.CONTENT "(PSH.1,PSH.2?,PSH.3,PSH.4?,PSH.5?,PSH.6?,PSH.7?,PSH.8?,PSH.9?,PSH.10?,PSH.11?,PSH.12?,PSH.13*,PSH.14*)">
<!ELEMENT PSH %PSH.CONTENT;>

<!--
    SEGMENT PTH
-->
<!ENTITY % PTH.CONTENT "(PTH.1,PTH.2,PTH.3,PTH.4,PTH.5?,PTH.6?)">
<!ELEMENT PTH %PTH.CONTENT;>

<!--
    SEGMENT PV1
-->
<!ENTITY % PV1.CONTENT "(PV1.1?,PV1.2,PV1.3?,PV1.4?,PV1.5?,PV1.6?,PV1.7*,PV1.8*,PV1.9*,PV1.10?,PV1.11?,PV1.12?,PV1.13?,PV1.14?,PV1.15*,PV1.16?,PV1.17*,PV1.18?,PV1.19?,PV1.20*,PV1.21?,PV1.22?,PV1.23?,PV1.24*,PV1.25*,PV1.26*,PV1.27*,PV1.28?,PV1.29?,PV1.30?,PV1.31?,PV1.32?,PV1.33?,PV1.34?,PV1.35?,PV1.36?,PV1.37?,PV1.38?,PV1.39?,PV1.40?,PV1.41?,PV1.42?,PV1.43?,PV1.44?,PV1.45*,PV1.46?,PV1.47?,PV1.48?,PV1.49?,PV1.50?,PV1.51?,PV1.52*)">
<!ELEMENT PV1 %PV1.CONTENT;>

<!--
    SEGMENT PV2
-->
<!ENTITY % PV2.CONTENT "(PV2.1?,PV2.2?,PV2.3?,PV2.4?,PV2.5*,PV2.6?,PV2.7*,PV2.8?,PV2.9?,PV2.10?,PV2.11?,PV2.12?,PV2.13*,PV2.14?,PV2.15?,PV2.16?,PV2.17?,PV2.18?,PV2.19?,PV2.20?,PV2.21?,PV2.22?,PV2.23*,PV2.24?,PV2.25?,PV2.26?,PV2.27?,PV2.28?,PV2.29?,PV2.30?,PV2.31?,PV2.32?,PV2.33?,PV2.34?,PV2.35?,PV2.36?,PV2.37?,PV2.38?,PV2.39*,PV2.40?,PV2.41*,PV2.42?,PV2.43?,PV2.44?,PV2.45*,PV2.46?,PV2.47?,PV2.48?,PV2.49*)">
<!ELEMENT PV2 %PV2.CONTENT;>

<!--
    SEGMENT QAK
-->
<!ENTITY % QAK.CONTENT "(QAK.1?,QAK.2?,QAK.3?,QAK.4?,QAK.5?,QAK.6?)">
<!ELEMENT QAK %QAK.CONTENT;>

<!--
    SEGMENT QID
-->
<!ENTITY % QID.CONTENT "(QID.1,QID.2)">
<!ELEMENT QID %QID.CONTENT;>

<!--
    SEGMENT QPD
-->
<!ENTITY % QPD.CONTENT "(QPD.1,QPD.2?,QPD.3?)">
<!ELEMENT QPD %QPD.CONTENT;>

<!--
    SEGMENT QRD
-->
<!ENTITY % QRD.CONTENT "(QRD.1,QRD.2,QRD.3,QRD.4,QRD.5?,QRD.6?,QRD.7,QRD.8+,QRD.9+,QRD.10+,QRD.11*,QRD.12?)">
<!ELEMENT QRD %QRD.CONTENT;>

<!--
    SEGMENT QRF
-->
<!ENTITY % QRF.CONTENT "(QRF.1+,QRF.2?,QRF.3?,QRF.4*,QRF.5*,QRF.6*,QRF.7*,QRF.8*,QRF.9?,QRF.10?)">
<!ELEMENT QRF %QRF.CONTENT;>

<!--
    SEGMENT QRI
-->
<!ENTITY % QRI.CONTENT "(QRI.1?,QRI.2*,QRI.3?)">
<!ELEMENT QRI %QRI.CONTENT;>

<!--
    SEGMENT RCP
-->
<!ENTITY % RCP.CONTENT "(RCP.1?,RCP.2?,RCP.3?,RCP.4?,RCP.5?,RCP.6*,RCP.7*)">
<!ELEMENT RCP %RCP.CONTENT;>

<!--
    SEGMENT RDF
-->
<!ENTITY % RDF.CONTENT "(RDF.1,RDF.2+)">
<!ELEMENT RDF %RDF.CONTENT;>

<!--
    SEGMENT RDT
-->
<!ENTITY % RDT.CONTENT "(RDT.1)">
<!ELEMENT RDT %RDT.CONTENT;>

<!--
    SEGMENT RF1
-->
<!ENTITY % RF1.CONTENT "(RF1.1?,RF1.2?,RF1.3?,RF1.4*,RF1.5?,RF1.6,RF1.7?,RF1.8?,RF1.9?,RF1.10*,RF1.11*)">
<!ELEMENT RF1 %RF1.CONTENT;>

<!--
    SEGMENT RGS
-->
<!ENTITY % RGS.CONTENT "(RGS.1,RGS.2?,RGS.3?)">
<!ELEMENT RGS %RGS.CONTENT;>

<!--
    SEGMENT RMI
-->
<!ENTITY % RMI.CONTENT "(RMI.1?,RMI.2?,RMI.3?)">
<!ELEMENT RMI %RMI.CONTENT;>

<!--
    SEGMENT ROL
-->
<!ENTITY % ROL.CONTENT "(ROL.1?,ROL.2,ROL.3,ROL.4+,ROL.5?,ROL.6?,ROL.7?,ROL.8?,ROL.9*,ROL.10?,ROL.11*,ROL.12*)">
<!ELEMENT ROL %ROL.CONTENT;>

<!--
    SEGMENT RQ1
-->
<!ENTITY % RQ1.CONTENT "(RQ1.1?,RQ1.2?,RQ1.3?,RQ1.4?,RQ1.5?,RQ1.6?,RQ1.7?)">
<!ELEMENT RQ1 %RQ1.CONTENT;>

<!--
    SEGMENT RQD
-->
<!ENTITY % RQD.CONTENT "(RQD.1?,RQD.2?,RQD.3?,RQD.4?,RQD.5?,RQD.6?,RQD.7?,RQD.8?,RQD.9?,RQD.10?)">
<!ELEMENT RQD %RQD.CONTENT;>

<!--
    SEGMENT RXA
-->
<!ENTITY % RXA.CONTENT "(RXA.1,RXA.2,RXA.3,RXA.4,RXA.5,RXA.6,RXA.7?,RXA.8?,RXA.9*,RXA.10*,RXA.11?,RXA.12?,RXA.13?,RXA.14?,RXA.15*,RXA.16*,RXA.17*,RXA.18*,RXA.19*,RXA.20?,RXA.21?,RXA.22?,RXA.23?,RXA.24?,RXA.25?,RXA.26?)">
<!ELEMENT RXA %RXA.CONTENT;>

<!--
    SEGMENT RXC
-->
<!ENTITY % RXC.CONTENT "(RXC.1,RXC.2,RXC.3,RXC.4,RXC.5?,RXC.6?,RXC.7*,RXC.8?,RXC.9?)">
<!ELEMENT RXC %RXC.CONTENT;>

<!--
    SEGMENT RXD
-->
<!ENTITY % RXD.CONTENT "(RXD.1,RXD.2,RXD.3,RXD.4,RXD.5?,RXD.6?,RXD.7,RXD.8?,RXD.9*,RXD.10*,RXD.11?,RXD.12?,RXD.13?,RXD.14?,RXD.15*,RXD.16?,RXD.17?,RXD.18*,RXD.19*,RXD.20*,RXD.21*,RXD.22?,RXD.23?,RXD.24?,RXD.25*,RXD.26?,RXD.27?,RXD.28?,RXD.29?,RXD.30?,RXD.31?,RXD.32?,RXD.33?)">
<!ELEMENT RXD %RXD.CONTENT;>

<!--
    SEGMENT RXE
-->
<!ENTITY % RXE.CONTENT "(RXE.1?,RXE.2,RXE.3,RXE.4?,RXE.5,RXE.6?,RXE.7*,RXE.8?,RXE.9?,RXE.10?,RXE.11?,RXE.12?,RXE.13*,RXE.14*,RXE.15?,RXE.16?,RXE.17?,RXE.18?,RXE.19?,RXE.20?,RXE.21*,RXE.22?,RXE.23?,RXE.24?,RXE.25?,RXE.26?,RXE.27*,RXE.28?,RXE.29?,RXE.30?,RXE.31*,RXE.32?,RXE.33?,RXE.34?,RXE.35?,RXE.36?,RXE.37*,RXE.38?,RXE.39?,RXE.40?,RXE.41?,RXE.42?,RXE.43?,RXE.44?)">
<!ELEMENT RXE %RXE.CONTENT;>

<!--
    SEGMENT RXG
-->
<!ENTITY % RXG.CONTENT "(RXG.1,RXG.2?,RXG.3?,RXG.4,RXG.5,RXG.6?,RXG.7,RXG.8?,RXG.9*,RXG.10?,RXG.11?,RXG.12?,RXG.13*,RXG.14?,RXG.15?,RXG.16?,RXG.17?,RXG.18?,RXG.19*,RXG.20*,RXG.21*,RXG.22*,RXG.23?,RXG.24?,RXG.25?,RXG.26?)">
<!ELEMENT RXG %RXG.CONTENT;>

<!--
    SEGMENT RXO
-->
<!ENTITY % RXO.CONTENT "(RXO.1?,RXO.2?,RXO.3?,RXO.4?,RXO.5?,RXO.6*,RXO.7*,RXO.8?,RXO.9?,RXO.10?,RXO.11?,RXO.12?,RXO.13?,RXO.14*,RXO.15*,RXO.16?,RXO.17?,RXO.18?,RXO.19?,RXO.20*,RXO.21?,RXO.22?,RXO.23?,RXO.24*,RXO.25?,RXO.26?,RXO.27?,RXO.28?)">
<!ELEMENT RXO %RXO.CONTENT;>

<!--
    SEGMENT RXR
-->
<!ENTITY % RXR.CONTENT "(RXR.1,RXR.2?,RXR.3?,RXR.4?,RXR.5?,RXR.6?)">
<!ELEMENT RXR %RXR.CONTENT;>

<!--
    SEGMENT SAC
-->
<!ENTITY % SAC.CONTENT "(SAC.1?,SAC.2?,SAC.3?,SAC.4?,SAC.5?,SAC.6?,SAC.7?,SAC.8?,SAC.9?,SAC.10?,SAC.11?,SAC.12?,SAC.13?,SAC.14?,SAC.15*,SAC.16?,SAC.17?,SAC.18?,SAC.19?,SAC.20?,SAC.21?,SAC.22?,SAC.23?,SAC.24?,SAC.25?,SAC.26?,SAC.27*,SAC.28?,SAC.29?,SAC.30?,SAC.31?,SAC.32?,SAC.33?,SAC.34?,SAC.35?,SAC.36?,SAC.37?,SAC.38?,SAC.39?,SAC.40*,SAC.41*,SAC.42?,SAC.43*,SAC.44*)">
<!ELEMENT SAC %SAC.CONTENT;>

<!--
    SEGMENT SCH
-->
<!ENTITY % SCH.CONTENT "(SCH.1?,SCH.2?,SCH.3?,SCH.4?,SCH.5?,SCH.6,SCH.7?,SCH.8?,SCH.9?,SCH.10?,SCH.11*,SCH.12*,SCH.13?,SCH.14*,SCH.15?,SCH.16+,SCH.17?,SCH.18*,SCH.19?,SCH.20+,SCH.21*,SCH.22?,SCH.23?,SCH.24?,SCH.25?,SCH.26*,SCH.27*)">
<!ELEMENT SCH %SCH.CONTENT;>

<!--
    SEGMENT SFT
-->
<!ENTITY % SFT.CONTENT "(SFT.1,SFT.2,SFT.3,SFT.4,SFT.5?,SFT.6?)">
<!ELEMENT SFT %SFT.CONTENT;>

<!--
    SEGMENT SID
-->
<!ENTITY % SID.CONTENT "(SID.1?,SID.2?,SID.3?,SID.4?)">
<!ELEMENT SID %SID.CONTENT;>

<!--
    SEGMENT SPM
-->
<!ENTITY % SPM.CONTENT "(SPM.1?,SPM.2?,SPM.3*,SPM.4,SPM.5*,SPM.6*,SPM.7?,SPM.8?,SPM.9*,SPM.10?,SPM.11*,SPM.12?,SPM.13?,SPM.14*,SPM.15*,SPM.16*,SPM.17?,SPM.18?,SPM.19?,SPM.20?,SPM.21*,SPM.22?,SPM.23?,SPM.24*,SPM.25?,SPM.26?,SPM.27?,SPM.28?,SPM.29?)">
<!ELEMENT SPM %SPM.CONTENT;>

<!--
    SEGMENT SPR
-->
<!ENTITY % SPR.CONTENT "(SPR.1?,SPR.2,SPR.3,SPR.4*)">
<!ELEMENT SPR %SPR.CONTENT;>

<!--
    SEGMENT STF
-->
<!ENTITY % STF.CONTENT "(STF.1?,STF.2*,STF.3*,STF.4*,STF.5?,STF.6?,STF.7?,STF.8*,STF.9*,STF.10*,STF.11*,STF.12*,STF.13*,STF.14*,STF.15*,STF.16?,STF.17?,STF.18?,STF.19?,STF.20?,STF.21?,STF.22?,STF.23?,STF.24?,STF.25?,STF.26?,STF.27?,STF.28?,STF.29?,STF.30*,STF.31?,STF.32?,STF.33?,STF.34?,STF.35?,STF.36*,STF.37?,STF.38?)">
<!ELEMENT STF %STF.CONTENT;>

<!--
    SEGMENT TCC
-->
<!ENTITY % TCC.CONTENT "(TCC.1,TCC.2,TCC.3?,TCC.4?,TCC.5?,TCC.6?,TCC.7?,TCC.8?,TCC.9?,TCC.10?,TCC.11?,TCC.12?,TCC.13?,TCC.14?)">
<!ELEMENT TCC %TCC.CONTENT;>

<!--
    SEGMENT TCD
-->
<!ENTITY % TCD.CONTENT "(TCD.1,TCD.2?,TCD.3?,TCD.4?,TCD.5?,TCD.6?,TCD.7?,TCD.8?)">
<!ELEMENT TCD %TCD.CONTENT;>

<!--
    SEGMENT TQ1
-->
<!ENTITY % TQ1.CONTENT "(TQ1.1?,TQ1.2?,TQ1.3*,TQ1.4*,TQ1.5*,TQ1.6?,TQ1.7?,TQ1.8?,TQ1.9*,TQ1.10?,TQ1.11?,TQ1.12?,TQ1.13?,TQ1.14?)">
<!ELEMENT TQ1 %TQ1.CONTENT;>

<!--
    SEGMENT TQ2
-->
<!ENTITY % TQ2.CONTENT "(TQ2.1?,TQ2.2?,TQ2.3*,TQ2.4*,TQ2.5*,TQ2.6?,TQ2.7?,TQ2.8?,TQ2.9?,TQ2.10?)">
<!ELEMENT TQ2 %TQ2.CONTENT;>

<!--
    SEGMENT TXA
-->
<!ENTITY % TXA.CONTENT "(TXA.1,TXA.2,TXA.3?,TXA.4?,TXA.5*,TXA.6?,TXA.7?,TXA.8*,TXA.9*,TXA.10*,TXA.11*,TXA.12,TXA.13?,TXA.14*,TXA.15?,TXA.16?,TXA.17,TXA.18?,TXA.19?,TXA.20?,TXA.21?,TXA.22*,TXA.23*)">
<!ELEMENT TXA %TXA.CONTENT;>

<!--
    SEGMENT UB1
-->
<!ENTITY % UB1.CONTENT "(UB1.1?,UB1.2?,UB1.3?,UB1.4?,UB1.5?,UB1.6?,UB1.7*,UB1.8?,UB1.9?,UB1.10*,UB1.11?,UB1.12?,UB1.13?,UB1.14?,UB1.15?,UB1.16*,UB1.17?,UB1.18?,UB1.19?,UB1.20?,UB1.21?,UB1.22?,UB1.23?)">
<!ELEMENT UB1 %UB1.CONTENT;>

<!--
    SEGMENT UB2
-->
<!ENTITY % UB2.CONTENT "(UB2.1?,UB2.2?,UB2.3*,UB2.4?,UB2.5?,UB2.6*,UB2.7*,UB2.8*,UB2.9*,UB2.10*,UB2.11?,UB2.12*,UB2.13*,UB2.14*,UB2.15?,UB2.16*,UB2.17?)">
<!ELEMENT UB2 %UB2.CONTENT;>

<!--
    SEGMENT URD
-->
<!ENTITY % URD.CONTENT "(URD.1?,URD.2?,URD.3+,URD.4*,URD.5*,URD.6*,URD.7?)">
<!ELEMENT URD %URD.CONTENT;>

<!--
    SEGMENT URS
-->
<!ENTITY % URS.CONTENT "(URS.1+,URS.2?,URS.3?,URS.4*,URS.5*,URS.6*,URS.7*,URS.8*,URS.9?)">
<!ELEMENT URS %URS.CONTENT;>

<!--
    SEGMENT VAR
-->
<!ENTITY % VAR.CONTENT "(VAR.1,VAR.2,VAR.3?,VAR.4*,VAR.5?,VAR.6*)">
<!ELEMENT VAR %VAR.CONTENT;>

<!--
    SEGMENT VTQ
-->
<!ENTITY % VTQ.CONTENT "(VTQ.1?,VTQ.2,VTQ.3,VTQ.4,VTQ.5*)">
<!ELEMENT VTQ %VTQ.CONTENT;>



<!-- .. all HL7 segment definitions -->
<!ENTITY % anyHL7Segment "(
  ABS;
  ACC;
  ADD;
  AFF;
  AIG;
  AIL;
  AIP;
  AIS;
  AL1;
  APR;
  ARQ;
  AUT;
  BHS;
  BLC;
  BLG;
  BPO;
  BPX;
  BTS;
  BTX;
  CDM;
  CER;
  CM0;
  CM1;
  CM2;
  CNS;
  CON;
  CSP;
  CSR;
  CSS;
  CTD;
  CTI;
  DB1;
  DG1;
  DRG;
  DSC;
  DSP;
  ECD;
  ECR;
  EDU;
  EQL;
  EQP;
  EQU;
  ERQ;
  ERR;
  EVN;
  FAC;
  FHS;
  FT1;
  FTS;
  GOL;
  GP1;
  GP2;
  GT1;
  IAM;
  IIM;
  IN1;
  IN2;
  IN3;
  INV;
  IPC;
  ISD;
  LAN;
  LCC;
  LCH;
  LDP;
  LOC;
  LRL;
  MFA;
  MFE;
  MFI;
  MRG;
  MSA;
  MSH;
  NCK;
  NDS;
  NK1;
  NPU;
  NSC;
  NST;
  NTE;
  OBR;
  OBX;
  ODS;
  ODT;
  OM1;
  OM2;
  OM3;
  OM4;
  OM5;
  OM6;
  OM7;
  ORC;
  ORG;
  OVR;
  PCR;
  PD1;
  PDA;
  PDC;
  PEO;
  PES;
  PID;
  PR1;
  PRA;
  PRB;
  PRC;
  PRD;
  PSH;
  PTH;
  PV1;
  PV2;
  QAK;
  QID;
  QPD;
  QRD;
  QRF;
  QRI;
  RCP;
  RDF;
  RDT;
  RF1;
  RGS;
  RMI;
  ROL;
  RQ1;
  RQD;
  RXA;
  RXC;
  RXD;
  RXE;
  RXG;
  RXO;
  RXR;
  SAC;
  SCH;
  SFT;
  SID;
  SPM;
  SPR;
  STF;
  TCC;
  TCD;
  TQ1;
  TQ2;
  TXA;
  UB1;
  UB2;
  URD;
  URS;
  VAR;
  VTQ;
)">


<!-- .. any Z segment definition -->
<!ENTITY % anyHL7ZSegment "(ANY)">
