utilities/hl7v2.xml-templates/v25/dtd/SIU_S12.dtd

<!--    v2.xml Message Definitions Version v25  - SIU_S12    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE SIU_S12--><!-- .. groups used in message SIU_S12 --><!ENTITY % SIU_S12.PERSONNEL_RESOURCE.CONTENT "(AIP,NTE)"><!ELEMENT SIU_S12.PERSONNEL_RESOURCE %SIU_S12.PERSONNEL_RESOURCE.CONTENT;><!ENTITY % SIU_S12.LOCATION_RESOURCE.CONTENT "(AIL,NTE)"><!ELEMENT SIU_S12.LOCATION_RESOURCE %SIU_S12.LOCATION_RESOURCE.CONTENT;><!ENTITY % SIU_S12.PATIENT.CONTENT "(PID,PD1,PV1,PV2,OBX,DG1)"><!ELEMENT SIU_S12.PATIENT %SIU_S12.PATIENT.CONTENT;><!ENTITY % SIU_S12.SERVICE.CONTENT "(AIS,NTE)"><!ELEMENT SIU_S12.SERVICE %SIU_S12.SERVICE.CONTENT;><!ENTITY % SIU_S12.RESOURCES.CONTENT "(RGS,SIU_S12.SERVICE,SIU_S12.GENERAL_RESOURCE,SIU_S12.LOCATION_RESOURCE,SIU_S12.PERSONNEL_RESOURCE)"><!ELEMENT SIU_S12.RESOURCES %SIU_S12.RESOURCES.CONTENT;><!ENTITY % SIU_S12.GENERAL_RESOURCE.CONTENT "(AIG,NTE)"><!ELEMENT SIU_S12.GENERAL_RESOURCE %SIU_S12.GENERAL_RESOURCE.CONTENT;><!-- .. message definition SIU_S12 --><!ENTITY % SIU_S12.CONTENT "(MSH,SCH,TQ1*,NTE*,SIU_S12.PATIENT*,SIU_S12.RESOURCES+)"><!ELEMENT SIU_S12 %SIU_S12.CONTENT;>