utilities/hl7v2.xml-templates/v25/dtd/SQM_S25.dtd

<!--    v2.xml Message Definitions Version v25  - SQM_S25    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE SQM_S25--><!-- .. groups used in message SQM_S25 --><!ENTITY % SQM_S25.LOCATION_RESOURCE.CONTENT "(AIL,APR)"><!ELEMENT SQM_S25.LOCATION_RESOURCE %SQM_S25.LOCATION_RESOURCE.CONTENT;><!ENTITY % SQM_S25.PERSONNEL_RESOURCE.CONTENT "(AIP,APR)"><!ELEMENT SQM_S25.PERSONNEL_RESOURCE %SQM_S25.PERSONNEL_RESOURCE.CONTENT;><!ENTITY % SQM_S25.SERVICE.CONTENT "(AIS,APR)"><!ELEMENT SQM_S25.SERVICE %SQM_S25.SERVICE.CONTENT;><!ENTITY % SQM_S25.REQUEST.CONTENT "(ARQ,APR,PID,SQM_S25.RESOURCES)"><!ELEMENT SQM_S25.REQUEST %SQM_S25.REQUEST.CONTENT;><!ENTITY % SQM_S25.RESOURCES.CONTENT "(RGS,SQM_S25.SERVICE,SQM_S25.GENERAL_RESOURCE,SQM_S25.PERSONNEL_RESOURCE,SQM_S25.LOCATION_RESOURCE)"><!ELEMENT SQM_S25.RESOURCES %SQM_S25.RESOURCES.CONTENT;><!ENTITY % SQM_S25.GENERAL_RESOURCE.CONTENT "(AIG,APR)"><!ELEMENT SQM_S25.GENERAL_RESOURCE %SQM_S25.GENERAL_RESOURCE.CONTENT;><!-- .. message definition SQM_S25 --><!ENTITY % SQM_S25.CONTENT "(MSH,QRD,QRF?,SQM_S25.REQUEST?,DSC?)"><!ELEMENT SQM_S25 %SQM_S25.CONTENT;>