utilities/hl7v2.xml-templates/v25/dtd/SQR_S25.dtd

<!--    v2.xml Message Definitions Version v25  - SQR_S25    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE SQR_S25--><!-- .. groups used in message SQR_S25 --><!ENTITY % SQR_S25.LOCATION_RESOURCE.CONTENT "(AIL,NTE)"><!ELEMENT SQR_S25.LOCATION_RESOURCE %SQR_S25.LOCATION_RESOURCE.CONTENT;><!ENTITY % SQR_S25.PERSONNEL_RESOURCE.CONTENT "(AIP,NTE)"><!ELEMENT SQR_S25.PERSONNEL_RESOURCE %SQR_S25.PERSONNEL_RESOURCE.CONTENT;><!ENTITY % SQR_S25.PATIENT.CONTENT "(PID,PV1,PV2,DG1)"><!ELEMENT SQR_S25.PATIENT %SQR_S25.PATIENT.CONTENT;><!ENTITY % SQR_S25.SCHEDULE.CONTENT "(SCH,TQ1,NTE,SQR_S25.PATIENT,SQR_S25.RESOURCES)"><!ELEMENT SQR_S25.SCHEDULE %SQR_S25.SCHEDULE.CONTENT;><!ENTITY % SQR_S25.SERVICE.CONTENT "(AIS,NTE)"><!ELEMENT SQR_S25.SERVICE %SQR_S25.SERVICE.CONTENT;><!ENTITY % SQR_S25.RESOURCES.CONTENT "(RGS,SQR_S25.SERVICE,SQR_S25.GENERAL_RESOURCE,SQR_S25.PERSONNEL_RESOURCE,SQR_S25.LOCATION_RESOURCE)"><!ELEMENT SQR_S25.RESOURCES %SQR_S25.RESOURCES.CONTENT;><!ENTITY % SQR_S25.GENERAL_RESOURCE.CONTENT "(AIG,NTE)"><!ELEMENT SQR_S25.GENERAL_RESOURCE %SQR_S25.GENERAL_RESOURCE.CONTENT;><!-- .. message definition SQR_S25 --><!ENTITY % SQR_S25.CONTENT "(MSH,MSA,ERR*,QAK,SQR_S25.SCHEDULE*,DSC?)"><!ELEMENT SQR_S25 %SQR_S25.CONTENT;>