utilities/hl7v2.xml-templates/v25/dtd/SRM_S01.dtd

<!--    v2.xml Message Definitions Version v25  - SRM_S01    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE SRM_S01--><!-- .. groups used in message SRM_S01 --><!ENTITY % SRM_S01.PERSONNEL_RESOURCE.CONTENT "(AIP,APR,NTE)"><!ELEMENT SRM_S01.PERSONNEL_RESOURCE %SRM_S01.PERSONNEL_RESOURCE.CONTENT;><!ENTITY % SRM_S01.LOCATION_RESOURCE.CONTENT "(AIL,APR,NTE)"><!ELEMENT SRM_S01.LOCATION_RESOURCE %SRM_S01.LOCATION_RESOURCE.CONTENT;><!ENTITY % SRM_S01.PATIENT.CONTENT "(PID,PV1,PV2,OBX,DG1)"><!ELEMENT SRM_S01.PATIENT %SRM_S01.PATIENT.CONTENT;><!ENTITY % SRM_S01.SERVICE.CONTENT "(AIS,APR,NTE)"><!ELEMENT SRM_S01.SERVICE %SRM_S01.SERVICE.CONTENT;><!ENTITY % SRM_S01.RESOURCES.CONTENT "(RGS,SRM_S01.SERVICE,SRM_S01.GENERAL_RESOURCE,SRM_S01.LOCATION_RESOURCE,SRM_S01.PERSONNEL_RESOURCE)"><!ELEMENT SRM_S01.RESOURCES %SRM_S01.RESOURCES.CONTENT;><!ENTITY % SRM_S01.GENERAL_RESOURCE.CONTENT "(AIG,APR,NTE)"><!ELEMENT SRM_S01.GENERAL_RESOURCE %SRM_S01.GENERAL_RESOURCE.CONTENT;><!-- .. message definition SRM_S01 --><!ENTITY % SRM_S01.CONTENT "(MSH,ARQ,APR?,NTE*,SRM_S01.PATIENT*,SRM_S01.RESOURCES+)"><!ELEMENT SRM_S01 %SRM_S01.CONTENT;>