utilities/hl7v2.xml-templates/v25/dtd/SRR_S01.dtd

<!--    v2.xml Message Definitions Version v25  - SRR_S01    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE SRR_S01--><!-- .. groups used in message SRR_S01 --><!ENTITY % SRR_S01.PERSONNEL_RESOURCE.CONTENT "(AIP,NTE)"><!ELEMENT SRR_S01.PERSONNEL_RESOURCE %SRR_S01.PERSONNEL_RESOURCE.CONTENT;><!ENTITY % SRR_S01.LOCATION_RESOURCE.CONTENT "(AIL,NTE)"><!ELEMENT SRR_S01.LOCATION_RESOURCE %SRR_S01.LOCATION_RESOURCE.CONTENT;><!ENTITY % SRR_S01.PATIENT.CONTENT "(PID,PV1,PV2,DG1)"><!ELEMENT SRR_S01.PATIENT %SRR_S01.PATIENT.CONTENT;><!ENTITY % SRR_S01.SERVICE.CONTENT "(AIS,NTE)"><!ELEMENT SRR_S01.SERVICE %SRR_S01.SERVICE.CONTENT;><!ENTITY % SRR_S01.SCHEDULE.CONTENT "(SCH,TQ1,NTE,SRR_S01.PATIENT,SRR_S01.RESOURCES)"><!ELEMENT SRR_S01.SCHEDULE %SRR_S01.SCHEDULE.CONTENT;><!ENTITY % SRR_S01.RESOURCES.CONTENT "(RGS,SRR_S01.SERVICE,SRR_S01.GENERAL_RESOURCE,SRR_S01.LOCATION_RESOURCE,SRR_S01.PERSONNEL_RESOURCE)"><!ELEMENT SRR_S01.RESOURCES %SRR_S01.RESOURCES.CONTENT;><!ENTITY % SRR_S01.GENERAL_RESOURCE.CONTENT "(AIG,NTE)"><!ELEMENT SRR_S01.GENERAL_RESOURCE %SRR_S01.GENERAL_RESOURCE.CONTENT;><!-- .. message definition SRR_S01 --><!ENTITY % SRR_S01.CONTENT "(MSH,MSA,ERR*,SRR_S01.SCHEDULE?)"><!ELEMENT SRR_S01 %SRR_S01.CONTENT;>