utilities/hl7v2.xml-templates/v25/dtd/VXR_V03.dtd

<!--    v2.xml Message Definitions Version v25  - VXR_V03    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE VXR_V03--><!-- .. groups used in message VXR_V03 --><!ENTITY % VXR_V03.ORDER.CONTENT "(ORC,VXR_V03.TIMING,RXA,RXR,VXR_V03.OBSERVATION)"><!ELEMENT VXR_V03.ORDER %VXR_V03.ORDER.CONTENT;><!ENTITY % VXR_V03.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT VXR_V03.TIMING %VXR_V03.TIMING.CONTENT;><!ENTITY % VXR_V03.PATIENT_VISIT.CONTENT "(PV1,PV2)"><!ELEMENT VXR_V03.PATIENT_VISIT %VXR_V03.PATIENT_VISIT.CONTENT;><!ENTITY % VXR_V03.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT VXR_V03.OBSERVATION %VXR_V03.OBSERVATION.CONTENT;><!ENTITY % VXR_V03.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT VXR_V03.INSURANCE %VXR_V03.INSURANCE.CONTENT;><!-- .. message definition VXR_V03 --><!ENTITY % VXR_V03.CONTENT "(MSH,MSA,SFT*,QRD,QRF?,PID,PD1?,NK1*,VXR_V03.PATIENT_VISIT?,GT1*,VXR_V03.INSURANCE*,VXR_V03.ORDER*)"><!ELEMENT VXR_V03 %VXR_V03.CONTENT;>