utilities/hl7v2.xml-templates/v25/dtd/VXU_V04.dtd

<!--    v2.xml Message Definitions Version v25  - VXU_V04    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><!-- include segment definitions --><!ENTITY % HL7v25-segments PUBLIC  "-//HL7//DTD HL7 v25 segments definitions//EN"  "segments.dtd">  %HL7v25-segments;<!--    MESSAGE VXU_V04--><!-- .. groups used in message VXU_V04 --><!ENTITY % VXU_V04.ORDER.CONTENT "(ORC,VXU_V04.TIMING,RXA,RXR,VXU_V04.OBSERVATION)"><!ELEMENT VXU_V04.ORDER %VXU_V04.ORDER.CONTENT;><!ENTITY % VXU_V04.TIMING.CONTENT "(TQ1,TQ2)"><!ELEMENT VXU_V04.TIMING %VXU_V04.TIMING.CONTENT;><!ENTITY % VXU_V04.PATIENT.CONTENT "(PV1,PV2)"><!ELEMENT VXU_V04.PATIENT %VXU_V04.PATIENT.CONTENT;><!ENTITY % VXU_V04.OBSERVATION.CONTENT "(OBX,NTE)"><!ELEMENT VXU_V04.OBSERVATION %VXU_V04.OBSERVATION.CONTENT;><!ENTITY % VXU_V04.INSURANCE.CONTENT "(IN1,IN2,IN3)"><!ELEMENT VXU_V04.INSURANCE %VXU_V04.INSURANCE.CONTENT;><!-- .. message definition VXU_V04 --><!ENTITY % VXU_V04.CONTENT "(MSH,SFT*,PID,PD1?,NK1*,VXU_V04.PATIENT?,GT1*,VXU_V04.INSURANCE*,VXU_V04.ORDER*)"><!ELEMENT VXU_V04 %VXU_V04.CONTENT;>