decor/core/coreschematron-unit-tests-hl7v2.5xml/datatypes-unit-test.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:hl7="urn:hl7-org:v2xml" 
    xmlns="http://purl.oclc.org/dsdl/schematron" 
    queryBinding="xslt2">
    <ns uri="urn:hl7-org:v2xml" prefix="hl7"/>
    <ns uri="http://www.w3.org/2001/XMLSchema-instance" prefix="xsi"/>

    <include href="../coreschematrons-hl7v2.5xml/DTv25_AD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_AUI.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_CCD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_CCP.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_CE.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_CNE.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_CNN.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_CP.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_CQ.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_CSU.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_CWE.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_CX.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_DDI.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_DIN.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_DLD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_DLN.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_DLT.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_DR.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_DT.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_DTM.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_DTN.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_ED.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_EI.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_EIP.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_ELD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_ERL.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_FC.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_FN.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_FT.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_GTS.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_HD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_ICD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_ID.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_IS.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_JCC.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_LA1.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_LA2.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_MO.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_MOC.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_MOP.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_MSG.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_NA.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_NDL.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_NM.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_NR.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_OCD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_OSD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_OSP.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_PIP.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_PL.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_PLN.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_PPN.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_PRL.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_PT.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_PTA.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_QIP.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_QSC.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_RCD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_RFR.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_RI.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_RMC.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_RPT.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_SAD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_SCV.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_SI.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_SN.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_SPD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_SPS.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_SRT.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_ST.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_TM.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_TQ.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_TS.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_TX.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_UVC.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_varies.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_VH.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_VID.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_VR.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_WVI.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_WVS.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_XAD.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_XCN.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_XON.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_XPN.sch"/>
    <include href="../coreschematrons-hl7v2.5xml/DTv25_XTN.sch"/>

    <pattern>
        <rule context="hl7:aAD">
            <extends rule="AD"/>
        </rule>
        <rule context="hl7:aAUI">
            <extends rule="AUI"/>
        </rule>
        <rule context="hl7:aCCD">
            <extends rule="CCD"/>
        </rule>
        <rule context="hl7:aCCP">
            <extends rule="CCP"/>
        </rule>
        <rule context="hl7:aCE">
            <extends rule="CE"/>
        </rule>
        <rule context="hl7:aCNE">
            <extends rule="CNE"/>
        </rule>
        <rule context="hl7:aCNN">
            <extends rule="CNN"/>
        </rule>
        <rule context="hl7:aCP">
            <extends rule="CP"/>
        </rule>
        <rule context="hl7:aCQ">
            <extends rule="CQ"/>
        </rule>
        <rule context="hl7:aCSU">
            <extends rule="CSU"/>
        </rule>
        <rule context="hl7:aCWE">
            <extends rule="CWE"/>
        </rule>
        <rule context="hl7:aCX">
            <extends rule="CX"/>
        </rule>
        <rule context="hl7:aDDI">
            <extends rule="DDI"/>
        </rule>
        <rule context="hl7:aDIN">
            <extends rule="DIN"/>
        </rule>
        <rule context="hl7:aDLD">
            <extends rule="DLD"/>
        </rule>
        <rule context="hl7:aDLN">
            <extends rule="DLN"/>
        </rule>
        <rule context="hl7:aDLT">
            <extends rule="DLT"/>
        </rule>
        <rule context="hl7:aDR">
            <extends rule="DR"/>
        </rule>
        <rule context="hl7:aDT">
            <extends rule="DT"/>
        </rule>
        <rule context="hl7:aDTM">
            <extends rule="DTM"/>
        </rule>
        <rule context="hl7:aDTN">
            <extends rule="DTN"/>
        </rule>
        <rule context="hl7:aED">
            <extends rule="ED"/>
        </rule>
        <rule context="hl7:aEI">
            <extends rule="EI"/>
        </rule>
        <rule context="hl7:aEIP">
            <extends rule="EIP"/>
        </rule>
        <rule context="hl7:aELD">
            <extends rule="ELD"/>
        </rule>
        <rule context="hl7:aERL">
            <extends rule="ERL"/>
        </rule>
        <rule context="hl7:aFC">
            <extends rule="FC"/>
        </rule>
        <rule context="hl7:aFN">
            <extends rule="FN"/>
        </rule>
        <rule context="hl7:aFT">
            <extends rule="FT"/>
        </rule>
        <rule context="hl7:aGTS">
            <extends rule="GTS"/>
        </rule>
        <rule context="hl7:aHD">
            <extends rule="HD"/>
        </rule>
        <rule context="hl7:aICD">
            <extends rule="ICD"/>
        </rule>
        <rule context="hl7:aID">
            <extends rule="ID"/>
        </rule>
        <rule context="hl7:aIS">
            <extends rule="IS"/>
        </rule>
        <rule context="hl7:aJCC">
            <extends rule="JCC"/>
        </rule>
        <rule context="hl7:aLA1">
            <extends rule="LA1"/>
        </rule>
        <rule context="hl7:aLA2">
            <extends rule="LA2"/>
        </rule>
        <rule context="hl7:aMO">
            <extends rule="MO"/>
        </rule>
        <rule context="hl7:aMOC">
            <extends rule="MOC"/>
        </rule>
        <rule context="hl7:aMOP">
            <extends rule="MOP"/>
        </rule>
        <rule context="hl7:aMSG">
            <extends rule="MSG"/>
        </rule>
        <rule context="hl7:aNA">
            <extends rule="NA"/>
        </rule>
        <rule context="hl7:aNDL">
            <extends rule="NDL"/>
        </rule>
        <rule context="hl7:aNM">
            <extends rule="NM"/>
        </rule>
        <rule context="hl7:aNR">
            <extends rule="NR"/>
        </rule>
        <rule context="hl7:aOCD">
            <extends rule="OCD"/>
        </rule>
        <rule context="hl7:aOSD">
            <extends rule="OSD"/>
        </rule>
        <rule context="hl7:aOSP">
            <extends rule="OSP"/>
        </rule>
        <rule context="hl7:aPIP">
            <extends rule="PIP"/>
        </rule>
        <rule context="hl7:aPL">
            <extends rule="PL"/>
        </rule>
        <rule context="hl7:aPLN">
            <extends rule="PLN"/>
        </rule>
        <rule context="hl7:aPPN">
            <extends rule="PPN"/>
        </rule>
        <rule context="hl7:aPRL">
            <extends rule="PRL"/>
        </rule>
        <rule context="hl7:aPT">
            <extends rule="PT"/>
        </rule>
        <rule context="hl7:aPTA">
            <extends rule="PTA"/>
        </rule>
        <rule context="hl7:aQIP">
            <extends rule="QIP"/>
        </rule>
        <rule context="hl7:aQSC">
            <extends rule="QSC"/>
        </rule>
        <rule context="hl7:aRCD">
            <extends rule="RCD"/>
        </rule>
        <rule context="hl7:aRFR">
            <extends rule="RFR"/>
        </rule>
        <rule context="hl7:aRI">
            <extends rule="RI"/>
        </rule>
        <rule context="hl7:aRMC">
            <extends rule="RMC"/>
        </rule>
        <rule context="hl7:aRPT">
            <extends rule="RPT"/>
        </rule>
        <rule context="hl7:aSAD">
            <extends rule="SAD"/>
        </rule>
        <rule context="hl7:aSCV">
            <extends rule="SCV"/>
        </rule>
        <rule context="hl7:aSI">
            <extends rule="SI"/>
        </rule>
        <rule context="hl7:aSN">
            <extends rule="SN"/>
        </rule>
        <rule context="hl7:aSPD">
            <extends rule="SPD"/>
        </rule>
        <rule context="hl7:aSPS">
            <extends rule="SPS"/>
        </rule>
        <rule context="hl7:aSRT">
            <extends rule="SRT"/>
        </rule>
        <rule context="hl7:aST">
            <extends rule="ST"/>
        </rule>
        <rule context="hl7:aTM">
            <extends rule="TM"/>
        </rule>
        <rule context="hl7:aTQ">
            <extends rule="TQ"/>
        </rule>
        <rule context="hl7:aTS">
            <extends rule="TS"/>
        </rule>
        <rule context="hl7:aTX">
            <extends rule="TX"/>
        </rule>
        <rule context="hl7:aUVC">
            <extends rule="UVC"/>
        </rule>
        <rule context="hl7:avaries">
            <extends rule="varies"/>
        </rule>
        <rule context="hl7:aVH">
            <extends rule="VH"/>
        </rule>
        <rule context="hl7:aVID">
            <extends rule="VID"/>
        </rule>
        <rule context="hl7:aVR">
            <extends rule="VR"/>
        </rule>
        <rule context="hl7:aWVI">
            <extends rule="WVI"/>
        </rule>
        <rule context="hl7:aWVS">
            <extends rule="WVS"/>
        </rule>
        <rule context="hl7:aXAD">
            <extends rule="XAD"/>
        </rule>
        <rule context="hl7:aXCN">
            <extends rule="XCN"/>
        </rule>
        <rule context="hl7:aXON">
            <extends rule="XON"/>
        </rule>
        <rule context="hl7:aXPN">
            <extends rule="XPN"/>
        </rule>
        <rule context="hl7:aXTN">
            <extends rule="XTN"/>
        </rule>
    </pattern>
</schema>
