utilities/hl7v2.xml-templates/v25/xsd/ADT_A45.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - ADT_A45    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE ADT_A45-->  <!-- .. groups used in message ADT_A45 -->  <xsd:complexType name="ADT_A45.MERGE_INFO.CONTENT">    <xsd:sequence>      <xsd:element ref="MRG" minOccurs="1" maxOccurs="1" />      <xsd:element ref="PV1" minOccurs="1" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="ADT_A45.MERGE_INFO" type="ADT_A45.MERGE_INFO.CONTENT"/>  <!-- .. message definition ADT_A45 -->  <xsd:complexType name="ADT_A45.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="EVN" minOccurs="1" maxOccurs="1" />      <xsd:element ref="PID" minOccurs="1" maxOccurs="1" />      <xsd:element ref="PD1" minOccurs="0" maxOccurs="1" />      <xsd:element ref="ADT_A45.MERGE_INFO" minOccurs="1" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="ADT_A45" type="ADT_A45.CONTENT"/></xsd:schema>