utilities/hl7v2.xml-templates/v25/xsd/BAR_P10.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - BAR_P10    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE BAR_P10-->  <!-- .. groups used in message BAR_P10 -->  <xsd:complexType name="BAR_P10.PROCEDURE.CONTENT">    <xsd:sequence>      <xsd:element ref="PR1" minOccurs="1" maxOccurs="1" />      <xsd:element ref="GP2" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="BAR_P10.PROCEDURE" type="BAR_P10.PROCEDURE.CONTENT"/>  <!-- .. message definition BAR_P10 -->  <xsd:complexType name="BAR_P10.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="EVN" minOccurs="1" maxOccurs="1" />      <xsd:element ref="PID" minOccurs="1" maxOccurs="1" />      <xsd:element ref="PV1" minOccurs="1" maxOccurs="1" />      <xsd:element ref="DG1" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="GP1" minOccurs="1" maxOccurs="1" />      <xsd:element ref="BAR_P10.PROCEDURE" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="BAR_P10" type="BAR_P10.CONTENT"/></xsd:schema>