utilities/hl7v2.xml-templates/v25/xsd/MDM_T01.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - MDM_T01    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE MDM_T01-->  <!-- .. groups used in message MDM_T01 -->  <xsd:complexType name="MDM_T01.COMMON_ORDER.CONTENT">    <xsd:sequence>      <xsd:element ref="ORC" minOccurs="1" maxOccurs="1" />      <xsd:element ref="MDM_T01.TIMING" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="OBR" minOccurs="1" maxOccurs="1" />      <xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MDM_T01.COMMON_ORDER" type="MDM_T01.COMMON_ORDER.CONTENT"/>  <xsd:complexType name="MDM_T01.TIMING.CONTENT">    <xsd:sequence>      <xsd:element ref="TQ1" minOccurs="1" maxOccurs="1" />      <xsd:element ref="TQ2" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MDM_T01.TIMING" type="MDM_T01.TIMING.CONTENT"/>  <!-- .. message definition MDM_T01 -->  <xsd:complexType name="MDM_T01.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="EVN" minOccurs="1" maxOccurs="1" />      <xsd:element ref="PID" minOccurs="1" maxOccurs="1" />      <xsd:element ref="PV1" minOccurs="1" maxOccurs="1" />      <xsd:element ref="MDM_T01.COMMON_ORDER" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="TXA" minOccurs="1" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MDM_T01" type="MDM_T01.CONTENT"/></xsd:schema>