utilities/hl7v2.xml-templates/v25/xsd/MFN_M09.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - MFN_M09    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE MFN_M09-->  <!-- .. groups used in message MFN_M09 -->  <xsd:complexType name="MFN_M09.MF_TEST_CATEGORICAL.CONTENT">    <xsd:sequence>      <xsd:element ref="MFE" minOccurs="1" maxOccurs="1" />      <xsd:element ref="OM1" minOccurs="1" maxOccurs="1" />      <xsd:element ref="MFN_M09.MF_TEST_CAT_DETAIL" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M09.MF_TEST_CATEGORICAL" type="MFN_M09.MF_TEST_CATEGORICAL.CONTENT"/>  <xsd:complexType name="MFN_M09.MF_TEST_CAT_DETAIL.CONTENT">    <xsd:sequence>      <xsd:element ref="OM3" minOccurs="1" maxOccurs="1" />      <xsd:element ref="OM4" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M09.MF_TEST_CAT_DETAIL" type="MFN_M09.MF_TEST_CAT_DETAIL.CONTENT"/>  <!-- .. message definition MFN_M09 -->  <xsd:complexType name="MFN_M09.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="MFI" minOccurs="1" maxOccurs="1" />      <xsd:element ref="MFN_M09.MF_TEST_CATEGORICAL" minOccurs="1" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M09" type="MFN_M09.CONTENT"/></xsd:schema>