utilities/hl7v2.xml-templates/v25/xsd/MFN_M07.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - MFN_M07    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE MFN_M07-->  <!-- .. groups used in message MFN_M07 -->  <xsd:complexType name="MFN_M07.MF_CLIN_STUDY_SCHED.CONTENT">    <xsd:sequence>      <xsd:element ref="MFE" minOccurs="1" maxOccurs="1" />      <xsd:element ref="CM0" minOccurs="1" maxOccurs="1" />      <xsd:element ref="CM2" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M07.MF_CLIN_STUDY_SCHED" type="MFN_M07.MF_CLIN_STUDY_SCHED.CONTENT"/>  <!-- .. message definition MFN_M07 -->  <xsd:complexType name="MFN_M07.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="MFI" minOccurs="1" maxOccurs="1" />      <xsd:element ref="MFN_M07.MF_CLIN_STUDY_SCHED" minOccurs="1" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M07" type="MFN_M07.CONTENT"/></xsd:schema>