utilities/hl7v2.xml-templates/v25/xsd/MFN_M02.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - MFN_M02    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE MFN_M02-->  <!-- .. groups used in message MFN_M02 -->  <xsd:complexType name="MFN_M02.MF_STAFF.CONTENT">    <xsd:sequence>      <xsd:element ref="MFE" minOccurs="1" maxOccurs="1" />      <xsd:element ref="STF" minOccurs="1" maxOccurs="1" />      <xsd:element ref="PRA" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="ORG" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="AFF" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="LAN" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="EDU" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="CER" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M02.MF_STAFF" type="MFN_M02.MF_STAFF.CONTENT"/>  <!-- .. message definition MFN_M02 -->  <xsd:complexType name="MFN_M02.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="MFI" minOccurs="1" maxOccurs="1" />      <xsd:element ref="MFN_M02.MF_STAFF" minOccurs="1" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M02" type="MFN_M02.CONTENT"/></xsd:schema>