utilities/hl7v2.xml-templates/v25/xsd/MFN_M10.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - MFN_M10    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE MFN_M10-->  <!-- .. groups used in message MFN_M10 -->  <xsd:complexType name="MFN_M10.MF_TEST_BATT_DETAIL.CONTENT">    <xsd:sequence>      <xsd:element ref="OM5" minOccurs="1" maxOccurs="1" />      <xsd:element ref="OM4" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M10.MF_TEST_BATT_DETAIL" type="MFN_M10.MF_TEST_BATT_DETAIL.CONTENT"/>  <xsd:complexType name="MFN_M10.MF_TEST_BATTERIES.CONTENT">    <xsd:sequence>      <xsd:element ref="MFE" minOccurs="1" maxOccurs="1" />      <xsd:element ref="OM1" minOccurs="1" maxOccurs="1" />      <xsd:element ref="MFN_M10.MF_TEST_BATT_DETAIL" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M10.MF_TEST_BATTERIES" type="MFN_M10.MF_TEST_BATTERIES.CONTENT"/>  <!-- .. message definition MFN_M10 -->  <xsd:complexType name="MFN_M10.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="MFI" minOccurs="1" maxOccurs="1" />      <xsd:element ref="MFN_M10.MF_TEST_BATTERIES" minOccurs="1" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M10" type="MFN_M10.CONTENT"/></xsd:schema>