utilities/hl7v2.xml-templates/v25/xsd/MFN_Znn.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - MFN_Znn    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE MFN_Znn-->  <!-- .. groups used in message MFN_Znn -->  <xsd:complexType name="MFN_Znn.MF_SITE_DEFINED.CONTENT">    <xsd:sequence>      <xsd:element ref="MFE" minOccurs="1" maxOccurs="1" />      <xsd:element ref="anyHL7Segment" minOccurs="1" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_Znn.MF_SITE_DEFINED" type="MFN_Znn.MF_SITE_DEFINED.CONTENT"/>  <!-- .. message definition MFN_Znn -->  <xsd:complexType name="MFN_Znn.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="MFI" minOccurs="1" maxOccurs="1" />      <xsd:element ref="MFN_Znn.MF_SITE_DEFINED" minOccurs="1" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_Znn" type="MFN_Znn.CONTENT"/></xsd:schema>