utilities/hl7v2.xml-templates/v25/xsd/MFN_M08.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - MFN_M08    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE MFN_M08-->  <!-- .. groups used in message MFN_M08 -->  <xsd:complexType name="MFN_M08.MF_TEST_NUMERIC.CONTENT">    <xsd:sequence>      <xsd:element ref="MFE" minOccurs="1" maxOccurs="1" />      <xsd:element ref="OM1" minOccurs="1" maxOccurs="1" />      <xsd:element ref="OM2" minOccurs="0" maxOccurs="1" />      <xsd:element ref="OM3" minOccurs="0" maxOccurs="1" />      <xsd:element ref="OM4" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M08.MF_TEST_NUMERIC" type="MFN_M08.MF_TEST_NUMERIC.CONTENT"/>  <!-- .. message definition MFN_M08 -->  <xsd:complexType name="MFN_M08.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="MFI" minOccurs="1" maxOccurs="1" />      <xsd:element ref="MFN_M08.MF_TEST_NUMERIC" minOccurs="1" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="MFN_M08" type="MFN_M08.CONTENT"/></xsd:schema>