utilities/hl7v2.xml-templates/v25/xsd/NMQ_N01.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - NMQ_N01    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE NMQ_N01-->  <!-- .. groups used in message NMQ_N01 -->  <xsd:complexType name="NMQ_N01.QRY_WITH_DETAIL.CONTENT">    <xsd:sequence>      <xsd:element ref="QRD" minOccurs="1" maxOccurs="1" />      <xsd:element ref="QRF" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="NMQ_N01.QRY_WITH_DETAIL" type="NMQ_N01.QRY_WITH_DETAIL.CONTENT"/>  <xsd:complexType name="NMQ_N01.CLOCK_AND_STATISTICS.CONTENT">    <xsd:sequence>      <xsd:element ref="NCK" minOccurs="0" maxOccurs="1" />      <xsd:element ref="NST" minOccurs="0" maxOccurs="1" />      <xsd:element ref="NSC" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="NMQ_N01.CLOCK_AND_STATISTICS" type="NMQ_N01.CLOCK_AND_STATISTICS.CONTENT"/>  <!-- .. message definition NMQ_N01 -->  <xsd:complexType name="NMQ_N01.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="NMQ_N01.QRY_WITH_DETAIL" minOccurs="0" maxOccurs="1" />      <xsd:element ref="NMQ_N01.CLOCK_AND_STATISTICS" minOccurs="1" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="NMQ_N01" type="NMQ_N01.CONTENT"/></xsd:schema>