utilities/hl7v2.xml-templates/v25/xsd/PMU_B07.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - PMU_B07    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE PMU_B07-->  <!-- .. groups used in message PMU_B07 -->  <xsd:complexType name="PMU_B07.CERTIFICATE.CONTENT">    <xsd:sequence>      <xsd:element ref="CER" minOccurs="1" maxOccurs="1" />      <xsd:element ref="ROL" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="PMU_B07.CERTIFICATE" type="PMU_B07.CERTIFICATE.CONTENT"/>  <!-- .. message definition PMU_B07 -->  <xsd:complexType name="PMU_B07.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="EVN" minOccurs="1" maxOccurs="1" />      <xsd:element ref="STF" minOccurs="1" maxOccurs="1" />      <xsd:element ref="PRA" minOccurs="0" maxOccurs="1" />      <xsd:element ref="PMU_B07.CERTIFICATE" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="PMU_B07" type="PMU_B07.CONTENT"/></xsd:schema>