utilities/hl7v2.xml-templates/v25/xsd/QVR_Q17.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - QVR_Q17    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE QVR_Q17-->  <!-- .. groups used in message QVR_Q17 -->  <xsd:complexType name="QVR_Q17.QBP.CONTENT">    <xsd:sequence>      <xsd:element ref="QVR_Q17.QBP" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="QVR_Q17.QBP" type="QVR_Q17.QBP.CONTENT"/>  <!-- .. message definition QVR_Q17 -->  <xsd:complexType name="QVR_Q17.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="QPD" minOccurs="1" maxOccurs="1" />      <xsd:element ref="QVR_Q17.QBP" minOccurs="0" maxOccurs="1" />      <xsd:element ref="RCP" minOccurs="1" maxOccurs="1" />      <xsd:element ref="DSC" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="QVR_Q17" type="QVR_Q17.CONTENT"/></xsd:schema>