utilities/hl7v2.xml-templates/v25/xsd/RQP_I04.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - RQP_I04    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE RQP_I04-->  <!-- .. groups used in message RQP_I04 -->  <xsd:complexType name="RQP_I04.PROVIDER.CONTENT">    <xsd:sequence>      <xsd:element ref="PRD" minOccurs="1" maxOccurs="1" />      <xsd:element ref="CTD" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="RQP_I04.PROVIDER" type="RQP_I04.PROVIDER.CONTENT"/>  <!-- .. message definition RQP_I04 -->  <xsd:complexType name="RQP_I04.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="RQP_I04.PROVIDER" minOccurs="1" maxOccurs="unbounded" />      <xsd:element ref="PID" minOccurs="1" maxOccurs="1" />      <xsd:element ref="NK1" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="GT1" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="NTE" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="RQP_I04" type="RQP_I04.CONTENT"/></xsd:schema>