utilities/hl7v2.xml-templates/v25/xsd/RSP_K25.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - RSP_K25    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE RSP_K25-->  <!-- .. groups used in message RSP_K25 -->  <xsd:complexType name="RSP_K25.STAFF.CONTENT">    <xsd:sequence>      <xsd:element ref="STF" minOccurs="1" maxOccurs="1" />      <xsd:element ref="PRA" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="ORG" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="AFF" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="LAN" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="EDU" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="CER" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="RSP_K25.STAFF" type="RSP_K25.STAFF.CONTENT"/>  <!-- .. message definition RSP_K25 -->  <xsd:complexType name="RSP_K25.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="MSA" minOccurs="1" maxOccurs="1" />      <xsd:element ref="ERR" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="QAK" minOccurs="1" maxOccurs="1" />      <xsd:element ref="QPD" minOccurs="1" maxOccurs="1" />      <xsd:element ref="RCP" minOccurs="1" maxOccurs="1" />      <xsd:element ref="RSP_K25.STAFF" minOccurs="1" maxOccurs="unbounded" />      <xsd:element ref="DSC" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="RSP_K25" type="RSP_K25.CONTENT"/></xsd:schema>