utilities/hl7v2.xml-templates/v25/xsd/RTB_K13.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - RTB_K13    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE RTB_K13-->  <!-- .. groups used in message RTB_K13 -->  <xsd:complexType name="RTB_K13.ROW_DEFINITION.CONTENT">    <xsd:sequence>      <xsd:element ref="RDF" minOccurs="1" maxOccurs="1" />      <xsd:element ref="RDT" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="RTB_K13.ROW_DEFINITION" type="RTB_K13.ROW_DEFINITION.CONTENT"/>  <!-- .. message definition RTB_K13 -->  <xsd:complexType name="RTB_K13.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="MSA" minOccurs="1" maxOccurs="1" />      <xsd:element ref="ERR" minOccurs="0" maxOccurs="1" />      <xsd:element ref="QAK" minOccurs="1" maxOccurs="1" />      <xsd:element ref="QPD" minOccurs="1" maxOccurs="1" />      <xsd:element ref="RTB_K13.ROW_DEFINITION" minOccurs="0" maxOccurs="1" />      <xsd:element ref="DSC" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="RTB_K13" type="RTB_K13.CONTENT"/></xsd:schema>