utilities/hl7v2.xml-templates/v25/xsd/SSR_U04.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - SSR_U04    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE SSR_U04-->  <!-- .. groups used in message SSR_U04 -->  <xsd:complexType name="SSR_U04.SPECIMEN_CONTAINER.CONTENT">    <xsd:sequence>      <xsd:element ref="SAC" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SPM" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="SSR_U04.SPECIMEN_CONTAINER" type="SSR_U04.SPECIMEN_CONTAINER.CONTENT"/>  <!-- .. message definition SSR_U04 -->  <xsd:complexType name="SSR_U04.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="EQU" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SSR_U04.SPECIMEN_CONTAINER" minOccurs="1" maxOccurs="unbounded" />      <xsd:element ref="ROL" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="SSR_U04" type="SSR_U04.CONTENT"/></xsd:schema>