utilities/hl7v2.xml-templates/v25/xsd/SSU_U03.xsd

<?xml version = "1.0" ?><!--    v2.xml Message Definitions Version v25  - SSU_U03    Copyright (c) 1999-2004, Health Level Seven. All rights reserved.--><xsd:schema  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns="urn:hl7-org:v2xml"  targetNamespace="urn:hl7-org:v2xml">  <!-- include segment definitions for version v25 -->  <xsd:include schemaLocation="segments.xsd"/><!--    MESSAGE SSU_U03-->  <!-- .. groups used in message SSU_U03 -->  <xsd:complexType name="SSU_U03.SPECIMEN.CONTENT">    <xsd:sequence>      <xsd:element ref="SPM" minOccurs="1" maxOccurs="1" />      <xsd:element ref="OBX" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="SSU_U03.SPECIMEN" type="SSU_U03.SPECIMEN.CONTENT"/>  <xsd:complexType name="SSU_U03.SPECIMEN_CONTAINER.CONTENT">    <xsd:sequence>      <xsd:element ref="SAC" minOccurs="1" maxOccurs="1" />      <xsd:element ref="OBX" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="SSU_U03.SPECIMEN" minOccurs="0" maxOccurs="unbounded" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="SSU_U03.SPECIMEN_CONTAINER" type="SSU_U03.SPECIMEN_CONTAINER.CONTENT"/>  <!-- .. message definition SSU_U03 -->  <xsd:complexType name="SSU_U03.CONTENT">    <xsd:sequence>      <xsd:element ref="MSH" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SFT" minOccurs="0" maxOccurs="unbounded" />      <xsd:element ref="EQU" minOccurs="1" maxOccurs="1" />      <xsd:element ref="SSU_U03.SPECIMEN_CONTAINER" minOccurs="1" maxOccurs="unbounded" />      <xsd:element ref="ROL" minOccurs="0" maxOccurs="1" />    </xsd:sequence>  </xsd:complexType>  <xsd:element name="SSU_U03" type="SSU_U03.CONTENT"/></xsd:schema>